{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active"><a href="{{ url('users') }}">Users</a></li>
            <li class="active"><a href="{{ url('users_show', { 'id': entity.id }) }}">{{ entity.username }}</a></li>
            <li class="active">edit</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ entity.firstName }} {{ entity.lastName }} ({{ entity.username }})</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
            
                
            <div class="panel panel-default">
                <div class="panel-heading">
                    status: 
                    {% if (entity.lockedAt != null ) %}     
                    <span class="label label-important">Locked</span>
                    {% else %}
                    <span class="label label-success">Active</span>
                    {% endif %}
                    | Created at {{ entity.createdAt|date }}
       
                </div>
                <div class="panel-body">

                    <!-- Name input-->
                    <div class="form-group max">
                        <img src="{{ entity.imagePath }}" alt="User Avatar" class="col-md-2 col-lg-2 col-xs-4 img-circle">
                    </div>
                </div>
                <div class="panel-body">
       {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.image, {
        'label': 'Picture',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}
    
   {{ form_row(edit_form.firstName, {
        'label': 'First Name',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}
    
    {{ form_row(edit_form.lastName, {
        'label': 'Last Name',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}
    
    {{ form_row(edit_form.username, {
        'label': 'Username',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}
    
    {{ form_row(edit_form.password, {
        'label': 'Password',
        'label_attr': {'class': 'control-label hidden'},
        'attr': {'class': 'form-control input-md hidden'}
    }) }}
    
    <hr>
{{ form_end(edit_form) }}

            </div>

 </div>
        </div><!--/.col-->

    </div><!--/.row-->
{% endblock %}
