{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Users</li>
        </ol>
    </div><!--/.row-->
    
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">All Users</h1>
        </div>
    </div><!--/.row-->
    
    <div class="row">
        <a href="{{ path('users', { status: 'all'}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-teal panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph signia users"><use xlink:href="#signia-users"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ all | length }}</div>
                        <div class="text-muted">All Users</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('users', { status: 'active'}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph signia checkmark"><use xlink:href="#signia-checkmark"/></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ active | length }}</div>
                        <div class="text-muted">Active Users</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('users', { status: 'banned'}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph signia delete"><use xlink:href="#signia-delete"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                       <div class="large">{{ banned | length }}</div>
                        <div class="text-muted">Banned Users</div>
                    </div>
                </div>
            </div>
        </a>

    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" id="accordion">
                    <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                    {{ status }} Users ({{ paginator.entityCount}}) 
                    <a href="{{ path('users_new') }}" class="btn btn-success pull-right" id="btn-chat">Add new User</a>
                </div>
                
            <div class="panel-body">
                <form class="search input-group" method="post" ng-controller="UserCtrl">
                  <input type="search" class="form-control input-md" name="q" placeholder="Search..." autocomplete="off" ng-model="zoekwoord">
                  <ul class="search-ac">
                    <li ng-repeat="user in users | filter: zoekwoord | limitTo:5">
                        <a ng-href="./{{ '{{user.id}}' }}">
                            {{ '{{ user.firstName }}' }} {{ '{{ user.lastName }}' }}
                            <span>({{ '{{ user.username }}' }})</span>
                            <div ng-if="user.status == 'active'" class="label label-success">Active</div>
                            <div ng-if="user.status == 'banned'" class="label label-danger">Banned</div>
                        </a>
                    </li>

                  </ul>
                </form>
            </div>
                        
                    <div class="panel-body">
                        
                        <div class="row">
                        {% for user in entities %}
                            <a href="{{ url('users_show', { 'id': user.id }) }}" class="col-xs-12 col-md-6 col-lg-4 single-bowling">
                                <div class="panel-red panel-widget">
                                    <div class="row no-padding">
                                        <div class="col-sm-4 col-lg-5 col-md-4 widget-left image">
                                            <img src="{{ user.imagePath }}">
                                        </div>
                                        <div class="col-sm-8 col-lg-7 col-md-8 widget-right">
                                            <div class="large">{{ user.firstName }} {{ user.lastName }}</div>
                                            <div class="medium">{{ user.username }}</div>
                            
                                            {% if user.status == 'active' %}
                                                <div class="label label-success">Active</div>
                                            {% endif %}
                                            
                                              {% if user.status == 'banned' %}
                                                <div class="label label-danger">Banned</div>
                                            {% endif %}
                                            <div class="small">{{ user.games | length }} Games played</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            
                        {% endfor %}

                    </div>

                </div>
            </div><!--/.col-->

    <div id="pagination">
        {% if paginator.totalPages > 1 %}
            </ul>
            <ul class="pagination pagination-sm col-sm-12">
                {# `«` arrow  #}
                <li {{ paginator.currentPage == 1 ? 'class="disabled"' }}>
                    <a href="{{ path('users', {"page": paginator.currentPage-1 < 1 ? 1 : paginator.currentPage-1 } ) }}">«</a>
                </li>

                {# Render each page number #}
                {% for i in 1..paginator.totalPages %}
                    <li {{ paginator.currentPage == i ? 'class="active"' }}>
                        <a href="{{ path('users', {"page": i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {# `»` arrow #}
                <li {{ paginator.currentPage == paginator.totalPages ? 'class="disabled"' }}>
                    <a href="{{ path('users', {"page": paginator.currentPage +1 <= paginator.totalPages ? paginator.currentPage+1 : paginator.currentPage}) }}">»</a>
                </li>
            </ul>
        {% endif %}
    </div>
            
        </div>
    </div><!--/.row-->
    
        
{% endblock %}
