{% extends 'base.html.twig' %}

{% form_theme new_form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Register</h1>
        {{ form_start(new_form) }}

        {{ form_row(new_form.firstName, {
            'label': 'First name',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control input-md'}
        }) }}

        {{ form_row(new_form.lastName, {
            'label': 'Last name',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control input-md'}
        }) }}
        {{ form_row(new_form.username, {
            'label': 'Username',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control input-md'}
        }) }}
        
        {{ form_row(new_form.status, {
            'label': 'status',
            'label_attr': {'class': 'control-label hidden'},
            'attr': {'class': 'form-control input-md hidden'},
            'value': 'active'
        }) }}
        
        {{ form_row(new_form.passwordRaw, {
            'label': 'passwordRaw',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control input-md'}
        }) }}
  
        <hr>
        
        <button id="submit" type="submit" class="btn btn-game btn-create btn-primary-outline">Register</button>
        <a href="{{ path('bowlingcentra') }}" class="btn btn-default btn-md">Back</a>
        {{ form_end(new_form) }}
{% endblock %}
