{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Users</li>
            <li class="active">{{ entity.username }}</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ entity.firstName }} {{ entity.lastName }} ({{ entity.username }})</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
            
            {% if (entity.status != 'active') %}

                 {{ form_start(undelete_form) }}
                 {{ form_widget(undelete_form.submit) }}
                 {{ form_end(undelete_form) }}
            {% else %}
                {#Wannneer locked of pending #}
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form.submit) }}
                {{ form_end(delete_form) }}

            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    status: 

                    {% if entity.status == 'active' %}
                    <span class="label label-success">Active</span>
                    {% endif %}

                    {% if entity.status == 'banned' %}
                    <span class="label label-danger">Banned</span>
                    {% endif %}
                    | Created at {{ entity.createdAt|date }}
                    | <a href="{{ url('users_edit', { 'id': entity.id }) }}" class="pull-right"><i class="fa fa-pencil-square-o"></i> Edit User</a>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post">
                        
                        <!-- Name input-->
                        <div class="form-group">
                            <img src="{{ entity.imagePath }}" alt="User Avatar" class="col-md-2 col-lg-2 col-xs-4 img-circle">
                        </div>
                        
                        <hr>
                        
                        <!-- Name input-->
                        <div class="form-group">
                            <div class="col-md-6">
                            <p>Name:</p>
                                <div class="well well-sm">
                                {{ entity.firstName }}
                                 </div>
                            </div>
                            <div class="col-md-6">
                            <p>Family Name:</p>
                                <div class="well well-sm">
                                {{ entity.lastName }}
                                 </div>
                            </div>
                        </div>

                        <!-- Adress, City input-->
                        <div class="form-group">
                            <div class="col-md-6">
                            <p>Username:</p>
                                <div class="well well-sm">
                                 {{ entity.username }}
                                 </div>
                            </div>
                            <div class="col-md-6">
                            <p>Role:</p>
                                <div class="well well-sm">
                                 {{ entity.roles[0] }}
                                 </div>
                            </div>
                        </div>
      
                    </form>
               </div>
            </div>


        </div><!--/.col-->

    </div><!--/.row-->
{% endblock %}
