{% extends "::base.html.twig" %}

{% block title %}AppBundle:Serie:index{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="">My Series</a></li>
        </ul>
    </div>
    
    {% if alert is defined %}
    <div class="message">
        <div class="alert alert-{{ alert.color }}" role="alert">
            <strong><i class="fa fa-exclamation-circle" aria-hidden="true"></i></strong> {{ alert.message }}
        </div>
    </div>
    {%endif%}
    <span class="page-title">
        <h1>My Series</h1>
        <a href="{{ url('seriefront_type')}}"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
    </span>
        
    <hr class="fancy-hr">
    
        <div class="ranking row user">

        <section class="filter-nav">

            <a href="{{ path('seriesfront', { page: paginator.currentPage, type: 5}) }}"{{ type == 5 ? 'class="active"' }}>
                <i class="fa fa-random" aria-hidden="true"></i><br>
                <span>All Games</span>
            </a>

            <a href="{{ path('seriesfront', { page: paginator.currentPage, type: 1}) }}" {{ type == 1 ? 'class="active"' }}>
                <i class="fa fa-random" aria-hidden="true"></i><br>

                <span>Open Bowling</span>
            </a> 

            <a href="{{ path('seriesfront', { page: paginator.currentPage, type: 3}) }}" {{ type == 3 ? 'class="active"' }}>
                <i class="fa fa-cubes" aria-hidden="true"></i><br>
                <span>League</span>
            </a> 

            <a href="{{ path('seriesfront', { page: paginator.currentPage, type: 2}) }}" {{ type == 2 ? 'class="active"' }}>
                <i class="fa fa-bar-chart" aria-hidden="true"></i><br>
                <span>Score Training</span>
            </a>

            <a href="{{ path('seriesfront', { page: paginator.currentPage, type: 4}) }}" {{ type == 4 ? 'class="active"' }}>
                <i class="fa fa-trophy" aria-hidden="true"></i><br>
                <span>Tournaments</span>
            </a> 

        </section>
            
            <section class="highscores">
            <h1 class="title">Ranking 
            {{ type == 5 ? 'All Series' }}
            {{ type == 1 ? 'Open Bowling' }}
            {{ type == 3 ? 'League' }}
            {{ type == 2 ? 'Score training' }}
            {{ type == 4 ? 'Tournaments' }}
            ({{ paginator.entityCount }})
             </h1>
             
                
           
    {% if series.count < 1%}
    <div class="empty">
        <div class="alert alert-info" role="alert">
            <strong>You </strong> currently have not registered any <strong>
            {{ type == 5 ? '' }}
            {{ type == 1 ? 'Open Bowling' }}
            {{ type == 3 ? 'League' }}
            {{ type == 2 ? 'Score training' }}
            {{ type == 4 ? 'Tournaments' }}
            </strong> series.
        </div>
    </div>
    {%endif%}
    {% for serie in series %}
    <a href="{{ path('seriefront_show', { id: serie.id })}}" class="serie col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="circle-score big">
            {% if serie.games|length > 0 %}
                {% set total = 0%}
                {% for game in serie.games %}
                    {%set total = total + game.total %}                                
                {% endfor %}
                    {{ total }}
                {%else%}
                    0
            {% endif %}
        </div>
            <h1>{{ serie.name }} #{{ serie.id }}</h1>
        <div class="game-data">
            <ul>
                <li>
                {% if serie.games|length > 0 %}
                    {% for game in serie.games %}
                        {{ game.total}}
                    {%if not loop.last%},{%endif%}
                    {% endfor %}
                {%else%}
                    No games registered
                {% endif %}
                </li>
                <li>{{ serie.bowling.name }}</li>
                <li>{{ serie.games|length }} Games <span>- {{ serie.createdAt|date('j M Y H:i') }}</span></li>
            </ul>
        <i class="fa fa-angle-right next" aria-hidden="true"></i>
        </div>
    </a>
    {% endfor %}
                
 </section>
       <div id="pagination">
        {% if paginator.totalPages > 1 %}
            </ul>
            <ul class="pagination pagination-sm col-sm-12">
                {# `«` arrow  #}
                <li {{ paginator.currentPage == 1 ? 'class="disabled"' }}>
                    <a href="{{ path('seriesfront', { "page": paginator.currentPage-1 < 1 ? 1 : paginator.currentPage-1, "type" :  type } ) }}">«</a>
                </li>

                {# Render each page number #}
                {% for i in 1..paginator.totalPages %}
                    <li {{ paginator.currentPage == i ? 'class="active"' }}>
                        <a href="{{ path('seriesfront', { "page": i, "type" :  type}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {# `»` arrow #}
                <li {{ paginator.currentPage == paginator.totalPages ? 'class="disabled"' }}>
                    <a href="{{ path('seriesfront', { "page": paginator.currentPage +1 <= paginator.totalPages ? paginator.currentPage+1 : paginator.currentPage, "type" :  type}) }}">»</a>
                </li>
            </ul>
        {% endif %}
    </div> 
  
        </div>



{% endblock %}
