{% extends "::base.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="{{ path('seriesfront')}}">My Series</a></li>
            <li><a href="{{ path('seriefront_create')}}">New</a></li>
            <li><a href="">{{ type.name }} Serie</a></li>
        </ul>
    </div>
    <span class="form-title">
        <div class="row">
            <h1>New Serie</h1>
            <h2 data-id="{{ type.id }}">Type: 
                <i class="fa fa-{{ type.id == 1 ? 'gamepad' }}{{ type.id == 3 ? 'cubes' }}{{ type.id == 2 ? 'bar-chart' }}{{ type.id == 4 ? 'trophy' }}" aria-hidden="true"></i> {{ type.name }}</h2>
        </div> 
    </span>

    <div class="row">
        <div class="col-md-12" ng-controller="LocationCtrl">
    
    {{ form_start(new_form) }}

        {{ form_row(new_form.name, {
            'label': type.name ~ ' Name',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control input-md'},
            'value': type.name ~ ' - ' ~ 'now'|date('d/m/Y H:i')
        }) }}

        {{ form_row(new_form.type, {
            'label': 'Type',
            'label_attr': {'class': 'control-label hidden'},
            'attr': {'class': 'form-control input-md hidden'}
        }) }}
  
        <div>
            <label class="control-label required" for="appbundle_seriefront_new_bowling">Bowling</label>
            <input id="demo1" type="text" name="appbundle_seriefront_new[bowling]" required="required" class="input-md form-control" ng-model="bowling" placeholder="Search bowling..." autocomplete="off" />
        </div>
        
        {{ form_row(new_form.bowling, {
            'label': 'Bowling',
            'label_attr': {'class': 'hidden'},
            'attr': {'class': 'input-md hidden'}
        }) }}

            {{ form_row(new_form.lat, {
                'label': 'Lat',
                'label_attr': {'class': 'hidden'},
                'attr': {'class': 'input-md hidden'},
                'value': '{{ latitude }}',
                'novalidate':'true'
            }) }}
            
            {{ form_row(new_form.lng, {
                'label': 'Lng',
                'label_attr': {'class': 'hidden'},
                'attr': {'class': ' input-md hidden'},
                'value': '{{ longitude }}'
            }) }}

            
            <hr>
            
        <button id="submit" type="submit" class="btn btn-create btn-primary-outline">Create Serie</button>
        <a href="{{ path('bowlingcentra') }}" class="btn btn-default btn-md">Back</a>
    {{ form_end(new_form) }}

        </div><!--/.col-->

    </div><!--/.row-->
    <div >

    </div>
{% endblock %}
