{% extends "::base.html.twig" %}

{% block title %}AppBundle:Serie:index{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="{{ path('seriesfront')}}">My Series</a></li>
            <li><a href="">New</a></li>
        </ul>
    </div>

    <span class="page-title">
        <h1>Choose your game type.</h1>
    </span>
    <hr class="fancy-hr">
    <div class="row type">
        <a href="{{ url('seriefront_new', {id:  1 })}}" class="serie-type col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <i class="fa fa-question" aria-hidden="true"></i><br>
            <span>Open Bowling</span>
        </a> 

        <a href="{{ url('seriefront_new', {id:  3 })}}" class="serie-type col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <i class="fa fa-cubes" aria-hidden="true"></i><br>
            <span>League</span>
        </a> 

        <a href="{{ url('seriefront_new', {id:  2 })}}" class="serie-type col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <i class="fa fa-bar-chart" aria-hidden="true"></i><br>
            <span>Score Training</span>
        </a>

        <a href="{{ url('seriefront_new', {id:  4 })}}" class="serie-type col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <i class="fa fa-trophy" aria-hidden="true"></i><br>
            <span>Tournaments</span>
        </a> 
    </div>
{% endblock %}
