/*
 * Color CSS 
 */
$orange: #e96200;
$darkOrange : #e5550e;
$btnGrey: #969696;
$lightGrey: #ebebeb;

/*
 * Default CSS 
 */
 
a {
    color:green;
}

 .glyph.simple.bowling {
    fill: #542B3B;
    stroke: #969696;
    stroke-width: 6%;
    width: 50%;
    color: #969696;
    height: 26px;
}
 
body {
    font-family: 'Lato', sans-serif!important;
    background:rgba(242, 242, 242, 0.42) !important;
}
 
 .max { width:100%; }
.none {
    margin:0!important;
    padding:0!important;
}
 .col {
	 background:gray;
 }
 table, th, td {
   border: 1px solid black;
}
 
.fancy-hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #D9D5D2;
}

span {
    &.page-title {
        h1 { 
            font-size: 35px;
            font-weight:300;
            display:inline-block;
        }
        a {
            display:inline-block;
            i {
                color:#a04100;
                font-size:22px;
                margin-left:5px;
            }
        }
    }
}
.control-label {
    margin-top: 10px;

}
.form-control {
    background: #fff;
    border-radius: 0!important;
    box-shadow: none!important;
}
 /*
 * Style: header
 */
 
 header {
    background:#2222ac;
 }
 
 .auto {
   margin:auto!important;
   display:block;
   float:none!important;
 }
 

 .game {
   text-decoration:none;
   color:black; 
 }
 
 .game:hover {
      text-decoration:none;  
 }
 
 .game p {
     margin: 1px 0;
     font-size: 13px;
 }
 
 .center {
     margin:auto;
     display: block!important;
    width: 50%;
 }
 
 
.single-post {
    border:1px solid #ddd;
    //background: red;
    display: inline-block;
    width: 100%;
    margin: 1px 0;
}

.add{background: #333; padding: 10%; height: 300px;}


.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius:0;
    margin-bottom:10px
}


.navbar-brand {
    color:red;
/*background: url("../img/slogo.svg") 4px 7px no-repeat;
background-size: 66px 35px;*/
background: url("../img/slogo.svg") 14px 7px no-repeat;
    background-size: 90px 34px;
    text-indent: -999em;
    width: 110px;
}

.navbar {
    background:$darkOrange;
    border:0!important;
    border-radius:0!important;
}
.nav>li>a {
 border-bottom: 5px solid transparent;
}
.dropdown-toggle {
    color:#fff;
}
.nav>li>a.active {
//background: #C14E15;
border-color: #C14E15;
}
.nav>li>a:focus, .nav>li>a:hover {
background: $darkOrange!important;

border-color: #fff;
}

.nav-item .nav-link, .navbar-brand {
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.navbar-toggle {
background-color:#9f4100!important;
}

.navbar-toggle .icon-bar {
background: $orange;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
background: #C14E15!important;
border-color: #C14E15!important;
}
.user-menu {
    background-color: $darkOrange!important;
    border: 1px solid #ccc!important;
    border: 1px solid rgba(0,0,0,.15)!important;
    li {
        a {
            font-size: 12px!important;
            padding: 3px 10px!important;
        }
    }
}

.user-menu>li>a:focus, .user-menu>li>a:hover {
background-color:#fff!important;
color: $orange!important;
}
/* ========================
   CSS: Breadcrumbs 
   ======================== */
.breadcrumbs { 
    list-style: none; 
    overflow: hidden; 
    margin:0;
    margin-top: -20px;
    padding:0;
    background-color: hsla(25,100%,46%,1);
    li { 
        float: left;
        &:last-of-type {
            a {
                width:9000%;
            }
        }
        a {
            color: white;
            text-decoration: none; 
            padding: 10px 11px 10px 22px;
            background: brown;                   /* fallback color */
            background: hsla(25,100%,46%,1); 
            position: relative; 
            display: block;
            float: left;
            font-size:15px;
            &:after { 
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 21px solid transparent;
                border-bottom: 21px solid transparent;
                border-left: 13px solid hsla(25,100%,46%,1);
                position: absolute;
                top: 49%;
                margin-top: -21px;
                left: 100%;
                z-index: 2;
            }
            &:before { 
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 21px solid transparent;
                border-bottom: 21px solid transparent;
                border-left: 13px solid hsla(25,100%,46%,1);
                position: absolute;
                top: 49%;
                margin-top: -21px;
                left: 100%;
                z-index: 1; 
            }
        }
    }
}
	
.breadcrumbs li:first-child a {
    padding-left: 10px;
}
.breadcrumbs li:nth-child(2) a       { background:        hsla(25,100%,55%,1); }
.breadcrumbs li:nth-child(2) a:after { border-left-color: hsla(25,100%,55%,1); }
.breadcrumbs li:nth-child(3) a       { background:        hsla(25,100%,60%,1); }
.breadcrumbs li:nth-child(3) a:after { border-left-color: hsla(25,100%,60%,1); }
.breadcrumbs li:nth-child(4) a       { background:        hsla(25,100%,65%,1); }
.breadcrumbs li:nth-child(4) a:after { border-left-color: hsla(25,100%,65%,1); }
.breadcrumbs li:nth-child(5) a       { background:        hsla(25,100%,70%,1); }
.breadcrumbs li:nth-child(5) a:after { border-left-color: hsla(25,100%,70%,1); }

.breadcrumbs li:last-child a:after { border: 0; }
.breadcrumbs li a:hover { background: hsla(34,85%,25%,1); }
.breadcrumbs li a:hover:after { border-left-color: hsla(34,85%,25%,1) !important; }
	

.breadcrumbs li:last-child a::before {
    display:none;
}

.breadcrumbs li:last-child a::after {
    display:none;
}

/* ========================
   CSS: Search 
   ======================== */

input[type=search] {

}
.search {
  position: relative;
  margin: 0 auto;
  width: 100%;
  input {
    height: 26px;
    width: 100%;
    padding:0 12px 0 25px;
    background: white url("../img/search.png") 8px 6px no-repeat;
    border: 1px solid;
    border-radius: 13px;
    border-color: #a8acbc #babdcc #c0c3d2;
    -webkit-appearance: textfield;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px #fcfcfc;
    &:focus {
        outline: 0;
        border-color: #66b1ee;
        -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
        box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
      }
    }
}

.search input:focus + .search-ac {
  display: block;
}

.search-ac {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fdfdfd;
  border: 1px solid;
  border-color: #cbcfe2 #c8cee7 #c4c7d7;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
  background-image: linear-gradient(to bottom, #fdfdfd, #eceef4);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding:0;
    &:hover {
    display: block;
  }
}

.search-ac li {
  display: block;
  border-bottom: 1px dashed #999;
    &:first-child {
    margin-top: -1px;
  }
}

.search-ac li:first-child:before, .search-ac li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border: 5px outset transparent;
}
.search-ac li:first-child:before {
  border-bottom: 5px solid #c4c7d7;
  top: -11px;
}
.search-ac li:first-child:after {
  border-bottom: 5px solid #fdfdfd;
  top: -10px;
}
.search-ac li:first-child:hover:before, .search-ac li:first-child:hover:after {
  display: none;
}
.search-ac li:last-child {
  margin-bottom: -1px;
}
.search-ac a {
  display: block;
  position: relative;
  margin: 0 -1px;
  padding: 6px 40px 6px 10px;
  color: #808394;
  font-weight: 500;
  text-decoration: none;
  text-shadow: 0 1px white;
  border: 1px solid transparent;
  border-radius: 3px;
    span {
    font-weight: 200;
  }
    &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    background: url("../img/arrow.png") 0 0 no-repeat;
  }
    &:hover {
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    background: #FF791A;
    border-color: #FF791A;
    // background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    // background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    // background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    // background-image: linear-gradient(to bottom, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
  }
}

/* ========================
   CSS: Bowling div 
   ======================== */

h2.title {
color:#9f4100;
font-size:20px;
}

.single-bowling {
    background:#F0DDD8;
    display:inline-block;
    margin:1px 0;
    padding:10px!important;
    border:1px dashed #DEE0E8;
    height: 124px;
     &:hover {
        text-decoration:none;
    }
    .image {
        float:left;
        margin-right: 6px;
    }
    .bowling-info {
        //background:yellow;
        margin:0;
        padding: 10px 0 0 8px;
        display:inline-block;
    }
    span {
        font-weight:400;
        display:block;
        padding: 0px;
        font-size:13px;
    }
    h1.name {
        font-weight:700;
        font-size: 18px;
        margin:0;
        padding: 9px 1px 4px!important;
        color: $orange;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

.thumb {
    height: 100px;
    width: 100px;
    display:inline-block;
    padding:6px;
}

/* ========================
   CSS: Games
   ======================== */
   
.single-game {
    background:#F0DDD8;
    display:inline-block;
    margin:1px 0;
    padding:10px!important;
    border:1px dashed #DEE0E8;
     &:hover {
        text-decoration:none;
    }
    .image {
        float:left;
        margin-right: 6px;
    }
    .bowling-info {
        //background:yellow;
        margin:0;
        padding: 10px 0 0 8px;
        display:inline-block;
    }
    span {
        font-weight:400;
        display:block;
        padding: 0px;
        font-size:13px;
    }
    h1.score {
        font-weight:700;
        font-size: 18px;
        margin:0;
        padding: 9px 1px 4px!important;
        color: $orange;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

/* ========================
   CSS: alert box
   ======================== */

.empty {
    .alert {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}
.message {
    margin-top: 20px;
}
/* ========================
   CSS: Bowling detail
   ======================== */

.bowling-header {
    background:red;
    font-family: 'Lato', sans-serif!important;
    position:relative;
    img {
        width:100%;
    }
    .bowling-name {
        color:#fff;
        padding: 2px 17px;
  
        position: absolute;
         bottom: 0;
        h1 {
            
            font-size:25px;
            font-weight:400;
            margin:6px 0 0;
        }
        p {
            font-weight:300;
            font-size:16px;
            padding: 0 2px;
            margin:0 0 10px;
        }
        i {
         
            font-size:17px;
            padding-right:6px;
        }
    }
}

.filter-nav {
    background:red;
    clear:both;
    height: auto;
    display: block;
    z-index: 24;
    a {
        background:#fff;
        border: 1px $lightGrey solid;
        padding: 10px 3px;
        width:20%;
        margin:0;
        float:left;
        text-align: center;
        i {
            color: $btnGrey;
            font-size: 25px;
            margin:0;
        }
        span {
            color: $btnGrey;
            font-size:10px;
            margin:0;
        }
        &:hover{
            text-decoration: none;
        }
        &:hover span, &:hover i{

            color:red;
        }
        &.active {
            background: #E5550E;
            i {
                color:#fff;
            }
            span {
                color:#fff;
            }
        } 
    }
}

.highscores {
    display:block;
    h1 {
        &.title {
        color: #cc0000;
        font-size: 24px;
        text-align: center;
        padding: 17px;
        width: 100%;
        background: #fff;
        margin: auto;
        float: left;
        }
    }

    .serie {
        background: rgba(235, 98, 0, 0.67)!important;
        border:1px #fff solid;
        padding: 9px 0;
        display:inline-block;
        &:hover {
            background: rgb(208, 139, 91)!important;
        }
        .circle-score {
            color:#a04100;
            width:45px;
            height:45px;
            background: #F2F2F2;
            float:left;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            margin: 5px 5px 5px 11px;
            padding: 9px 0;
            font-weight: 700;
            font-size: 19px;
            text-align:center;
        }
        .small {
            height: 65px;
            width: 65px;
            padding: 19px 0;
            color:rgba(235, 98, 0, 0.67)!important;
        }
        .big {
            height: 85px;
            width: 85px;
            padding: 24px 0;
            font-size:27px;
            color:rgba(235, 98, 0, 0.67)!important;
        }
        h1 {
            color: #fff;
            font-size:15px;
            padding:8px 8px 4px;
            display:inline-block;
            margin:0;
            font-weight:bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
           
        }
        .game-data {
            display:flex;
            padding:0 6px 6px;
            font-size:14px;
            position: relative;
            font-weight:300;
            color:#fff;
            ul {
                    margin:0;
                    padding:0;
                li {
                    list-style: none;

                }
            }
            div {
                margin: 3px 8px 0 0;
                
                i {
                    color: #a04100;
                    margin-right:0px;
                }
            }
            img {
                height: 50px;
                float: right;
                position: absolute;
                top: -50px;
                right:30px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
            }
            .rank {
                color:#fff;
                position: absolute;
                top: -36px;
                z-index: 1;
                right: 40px;
                p {
           
                width: 26px;
                text-align: center;
                }
            }
        }
        .next {
            color:#fff;
            position: absolute;
            top: -8px;
            right: 13px;
            font-size: 30px;
            opacity:0.6;
           
        }
    }
    .single-rank {
        background:white;
        padding: 9px 0;
        display:inline-block;
        width: 100%;
        .circle-score {
            color:#a04100;
            width:45px;
            height:45px;
            background: #F2F2F2;
            float:left;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            margin: 5px 5px 5px 11px;
            padding: 9px 0;
            font-weight: 700;
            font-size: 19px;
            text-align:center;
        }
        .big {
            height: 65px;
            width: 65px;
            padding: 19px 0;
            color:rgba(235, 98, 0, 0.67)!important;
        }
        &:nth-of-type(odd) {
            background: #f2f2f2;
            h1 {
                //color: #000;
            }
            .game-data {
                //color:red;
                div {
                    //background:green;
                    i {
                        color:#ea680a;
                    }
                }
            }
            .circle-score {
            color: #ea680a;
            background:#fff;
            }
        }
        &:nth-of-type(1) {
            background: rgba(214, 171, 57, 0.75);
            h1 {
                //color:red;
            }
            .game-data {
               
                div {
                    //background:white;
                    i {
                        color:#d6ab39;
                    }
                }
            }
            .circle-score {
            color: #d6ab39;
            }
        }
        &:nth-of-type(2) {
            background: rgba(196, 194, 194, 0.75);
            
            .game-data {
               
                div {
                    //background:white;
                    i {
                        color:#8F8E8C;
                    }
                }
            }
            .circle-score {
             color:#8F8E8C;
            }
        }
        &:nth-of-type(3) {
            background: rgba(182, 123, 45, 0.75);
           .game-data {
               
                div {
                    //background:white;
                    i {
                        color:#9F4100;
                    }
                }
            }
            .circle-score {
             color:#9F4100;
            }
        }
        img {
            float:left;
            height:50px;
            width: auto;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            margin:5px 0 5px 15px;
            
        }
        h1 {
            color: #000;
            font-size:15px;
            padding:8px 8px 4px;
            display:inline-block;
            margin:0;
            font-weight:bold;
            
        }
        .game-data {
            display:flex;
            padding:0 6px 6px;
            font-size:14px;
            position: relative;
            font-weight:300;
            ul {
                    margin:0;
                    padding:0;
                li {
                    list-style: none;

                }
            }
            div {
                margin: 3px 8px 0 0;
                
                i {
                    color: #a04100;
                    margin-right:0px;
                }
            }
            img {
                height: 50px;
                float: right;
                position: absolute;
                top: -50px;
                right:30px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
            }
            .rank {
                color:#fff;
                position: absolute;
                top: -36px;
                z-index: 1;
                right: 40px;
                p {
           
                width: 26px;
                text-align: center;
                }
            }
        }
        .next {
            color:#fff;
            position: absolute;
            top: -8px;
            right: 13px;
            font-size: 30px;
            opacity:0.6;
           
        }
    }
}

#pagination {
    display:inline-block;
    width:100%;
    .pagination {
        li {
            &.active {
                a {
                    background: #a04100;
                }
        }
            a {
                color: #fff;
                background: #ea680a;
                border: #fff 1px solid;
            }

        }

    }
}
/* ========================
   CSS: Game detail
   ======================== */
   
.score {
    .frame {
    text-align: center;
    padding: 3% 0px;
    background: #fff;
    border-bottom: 1px solid #FF791A;
    border-left: 1px solid #FF791A;
    
    &:last-of-type {
     border-right: 1px solid #FF791A;
     &.nope {
         border-right:0;
     } 
    }
        .row {
            .col-xs-12 {
                .col-xs-2, .col-xs-3, .col-xs-4,.col-xs-5,.col-xs-6, .col-xs-12 {
                    color:yellow;
                    margin:0;
                    padding:0;
                    height:16px;
                }
                div {
                    
                    margin:0;
                }
            }
        }
    }
    .frame-nr {
        padding: 1% 0;
    }
    .frame-total {
        padding: 0.5% 0;
    }
    .frame-pins {
        padding: 1% 0 2%;
    }
    .strike {
        text-indent: -999em;
    }
    .half {
        width: 50%;
        padding: 10px;
        color: #fff;
        font-size:15px;
        background: #FF791A !important;
        margin: 0;
        float:left;
    }
    .score-left, .score-right { 
        margin-bottom: 15px;
    }
    .game-stats {
            font-size: 15px;
            
        .row {
          margin-bottom:1px;
            div {
                padding: 1% 2%;
            }
            &:first-of-type {
            border-top: 1px solid #FF791A;
            }
        }
        .title-row {
            color:#8E3001;
            background:#ff791a;
            font-weight:700;
            border-bottom: 1px solid #FF791A;
            border-left: 1px solid #FF791A;
            
            &:last-of-type {
            border-right: 1px solid #FF791A;
            }
        }
        .stats-row {
        color: #444;
        border-bottom: 1px solid #FF791A;
        border-left: 1px solid #FF791A;
 
            &:last-of-type {
            border-right: 1px solid #FF791A;
            }
        }
    }
}
.game-user {
    background:#fff;
    color: #9f4100;
    width:100%;
    display:inline-block;
    margin: 15px 0 10px;;
    img {
        padding:0;
        margin:0;
        height:80px;
        width:80px;
        margin-right: 10px;
    }
    h1 {
        margin:0;
        padding:9px 9px 5px;
        text-transform:uppercase;
        font-weight: 700;
        font-size: 17px;
        a {
            color: $darkOrange;
        }
    }
    p {
        margin:0;
        a {
           color: $darkOrange; 
        }
    }
}

/* ========================
   CSS: Notes
   ======================== */
    .note { background: #fad46b;}
    .ball { background: #ddd;}

.editable {
    display:inline-block;
    width:100%;
    padding: 9px 12px;
    position: relative;
    margin-bottom:10px;
    p {
        margin:0;
    }
    i {
        position:absolute;
        top: 15px;
        right: 15px;
    }
}

/* ========================
   CSS: Serie type
   ======================== */
.type {
    .serie-type {
        color:#fff;
        text-align:center;
        padding:30px 0;
        text-decoration:none;
        
         &:nth-of-type(1), &:nth-of-type(4) {
            background:#f69d3a;
         }
         &:nth-of-type(2), &:nth-of-type(3){
            background: #e5550e;
         }
         span {
             font-size:20px;
         }
         i {
             font-size: 45px;
         }
         &:hover {
             background:#F3B36A;
         }
    }
}  

.form-title {
    margin:0;
    * {
        margin:0;
    }
    h1 {
        background: #ea7033;
        color: #fff;
        font-size: 22px;
        padding: 10px 14px;
        font-weight: 300;
        span {
            color: #fff;
            float: right;
            text-align: right;
            margin: 0 2px;
            i {
                &.fa-circle {
                    color: #77DB56;
                }
                &.fa-circle-thin {
                    color: #9F4100;
                }
            }
        }
    }
    h2 {
        background: #bdbdbd;
        font-size: 20px;
        padding: 10px 14px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    h3 {    
        font-size: 15px;
        font-weight: 300;
        padding: 10px 14px;
    }
}


.series {
    .single-rank {
        &:nth-of-type(even) {
        background: rgb(235, 211, 149) !important;
        }
        &:nth-of-type(odd) {
        background: rgba(214, 171, 57, 0.75)!important;
        }
    }

}

.btn-create {
    background: #f69d3a;

}
.btn  {
    border-radius:0!important;
    padding: 4px 10px!important;
    color:#fff!important;
}

.btn-default {
    background:#ea7033!important;
    border: 1px solid transparent!important;
}

.btn-new-game {

    button {
        padding: 15px 5px;
        border:0;
        color:#fff;
        font-size:22px;
        &:nth-of-type(odd){
            background:#ea7033;
        }
        &:nth-of-type(even){
            background:#E5550E;
        }
    }
}

.pin-frame {
    background: rgba(255, 136, 51, 0.42);
    padding: 15px 0;
}
/* ========================
   CSS: Bowling detail
   ======================== */

.profile-header {

    font-family: 'Lato', sans-serif!important;
    position:relative;
    height:250px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea8a46+0,f47749+100&0.84+16,0.81+66 */
background: -moz-linear-gradient(top,  rgba(234,138,70,0.84) 0%, rgba(236,135,70,0.84) 16%, rgba(241,125,72,0.81) 66%, rgba(244,119,73,0.81) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(234,138,70,0.84) 0%,rgba(236,135,70,0.84) 16%,rgba(241,125,72,0.81) 66%,rgba(244,119,73,0.81) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(234,138,70,0.84) 0%,rgba(236,135,70,0.84) 16%,rgba(241,125,72,0.81) 66%,rgba(244,119,73,0.81) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6ea8a46', endColorstr='#cff47749',GradientType=0 ); /* IE6-9 */

    a {
        color:yellow;
        z-index:9999;
        .settings {
            color:#fff;
            position: absolute;
            top: 20px;
            right: 20px;
            font-size:30px;
            z-index:10;
        }
    }
    .profile-header-img {
        width:100%;
        height:auto;
        z-index:-2;
        opacity: 0.7;
        
    }
    .profile-data {
        position:absolute;
        top: 0;
        left: 0%;
        right: 0%;
        width: 100%;
        .profile-picture {
            width:100px;
            height:auto;
            margin:auto;
            position: absolute;
            top: 25px;
            left: 0%;
            right: 0%;
            display:block;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
           
        }
        .user-name {
            margin:auto;
            display:block;
            text-align:center;
            position: absolute;
            top: 135px;
            left: 0%;
            right: 0%;
            h1 {
                 color:#fff;
                font-size: 34px;
                font-weight: 400;
                margin:0;
                i {
                    color: #FF4D00;
                }
            }
            p {
                color:#fff;
                font-size: 22px;
                font-weight: 300;
                margin: 0;
                padding: 0;
            }
        }
        .user-stats {
            position: absolute;
            top: 195px;
            left: 0%;
            right: 0%;
            p {
               color:#fff;
                text-align:center;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 100;
                margin: 0;
                padding: 15px 0;
            
                span {
                
                }
            }
        }
    }
}
/* ========================
   CSS: Scorebord 
   ======================== */
   
.table-header {
    font-weight:bold;
    border:1px solid #000;
    border-collapse: collapse;
    td {
        padding: 5px 10px;
        border-bottom:none;
         border-collapse: collapse;
    }
}   

.bbottom {
  border-bottom:none;
}

.resume {
  margin-top: 3%;
} 
   
.bowlingscore {
    width:100%;
    margin:auto;
    margin-bottom:15px;
    th.total {
        //background:blue;
        width:10%;
    }
    span {
        //background: yellow;
        padding: 2px 6px;
        margin: 0;
        text-align:center;
        display: inline-block;
    }
    &.first {
        //background:gray;
        border-right: 1px solid #000;
        width: 50%;

    }
}

.bowlingscore span.second {
    //background:orange;
    width: 50%;

}
.bowlingscore span.third {
    border-left: 1px solid #000;
}      

.bowlingscore .last span {
    //background:red;
    width: 33%;

}

.bowlingscore th {
background:#ddd;
text-align: center;
padding: 1%;
border:1px #000 solid;
}

.bowlingscore tbody td {
    border:1px #000 solid;
}

/* ========================
   CSS: zoek formulier 
   ======================== */
   
    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }   
    .search-query:focus{
        width: 260px;
    }   

/* ========================
   CSS: pins 
   ======================== */

.pins input[type=checkbox]{
  width   : 56px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=checkbox]:hover + label:hover {
    cursor:pointer;
}

input[type=checkbox]:not(old) + label{
  display      : inline-block;
  margin-left  : -56px;
  padding-left : 56px;
  background   : url('../img/pins.png') no-repeat 0 0;
  line-height  : 48px;
}

/* Wat als de pin disabled is */
#checkbox1:not(old):disabled + label,
#checkbox2:not(old):disabled + label,
#checkbox3:not(old):disabled + label,
#checkbox4:not(old):disabled + label,
#checkbox5:not(old):disabled + label,
#checkbox6:not(old):disabled + label,
#checkbox7:not(old):disabled + label,
#checkbox8:not(old):disabled + label,
#checkbox9:not(old):disabled + label,
#checkbox10:not(old):disabled + label {
  background-position : 0 0px!important;
  color:red;
}

/* Dit moest omdat de label anders niet empty mocht zijn */
#checkbox1:not(old) + label,
#checkbox2:not(old) + label,
#checkbox3:not(old) + label,
#checkbox4:not(old) + label,
#checkbox5:not(old) + label,
#checkbox6:not(old) + label,
#checkbox7:not(old) + label,
#checkbox8:not(old) + label,
#checkbox9:not(old) + label,
#checkbox10:not(old) + label {
  height: 48px;
}

/* Positie van de afbeelding */
#checkbox1:not(old) + label{
  background-position : 0 -96px!important;
}

#checkbox2:not(old) + label{
  background-position : 0 -144px!important;
}

#checkbox3:not(old) + label{
  background-position : 0 -192px!important;
}

#checkbox4:not(old) + label{
  background-position : 0 -240px!important;
}

#checkbox5:not(old) + label{
  background-position : 0 -288px!important;
}

#checkbox6:not(old) + label{
  background-position : 0 -336px!important;
}

#checkbox7:not(old) + label{
  background-position : 0 -384px!important;
}

#checkbox8:not(old) + label{
  background-position : 0 -432px!important;
}

#checkbox9:not(old) + label{
  background-position : 0 -480px!important;
}

#checkbox10:not(old) + label{
  background-position : 0 -528px!important;
}


/*input[type=checkbox]:not(old):checked + label{
  background-position : 0 -48px!important;
}*/

/* Positie van de NIET gecheckte checkbox */
#checkbox1:not(old):checked + label,
#checkbox2:not(old):checked + label,
#checkbox3:not(old):checked + label,
#checkbox4:not(old):checked + label,
#checkbox5:not(old):checked + label,
#checkbox6:not(old):checked + label,
#checkbox7:not(old):checked + label,
#checkbox8:not(old):checked + label,
#checkbox9:not(old):checked + label,
#checkbox10:not(old):checked + label {
  background-position : 0 -48px!important;
}

.pins {
    width:240px;
    margin:auto;
}
.pins div {
    height:45px;
}
.pins .fourth_row {
    //background:red;
}
.pins .third_row {
    margin:auto;
    //background:purple;
    width:75%;
    
}
.pins .second_row {
    //background:green;
    width: 50%;
    margin: auto;
}
.pins .first_row {
    //background:orange;
    width: 25%;
    margin: auto;
}


/* ========================
   CSS: dots 
   ======================== */
   
.circle{
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    border:1px solid #333;
    width:8px;
    height:8px;
    background:#333;
    display:inline-block;
}

.hit {
    background: #eee;
}
.second-hit {
    background: #eee;
    border:2px solid #333;
}
.score_pins {
    margin-top: 10px;
    display: inline-block;
    margin: 10px 19px 10px;
}

.score_pins > li{
   //background:orange;
    margin: -9px;
}

.score_pins > li.first_row {
    margin: 6px 0 2px;
}


/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

/*.btn-breadcrumb > *:nth-child(n+2) {
  display:none;
}*/

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 60px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 170px;
    }
}


/* homepage */

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;

    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}

/* jumbotron */

.jumbotron {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('http://wallpaperandbackground.com/wp-content/uploads/2014/02/Unique-Beach-Palm-Tree.jpg');
}
.jumbotron h1{
    color: #fff;
    font-size: 48px;
}
.jumbotron p{
    color: #fff;
}

/* detail bowling */

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}

/*
button
*/
.btn-group button {
  padding: 5% 25%;
}

/* login */
.account-box
{
    border: 2px solid rgba(153, 153, 153, 0.75);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 3;
    font-size: 13px !important;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

.logo
{
    width: 138px;
    height: 30px;
    text-align: center;
    margin: 10px 0px 27px 40px;
    background-position: 0px -4px;
    position: relative;
}

.forgotLnk
{
    margin-top: 10px;
    display: block;
}

.purple-bg
{
    background-color: #6E329D;
    color: #fff;
}
.or-box
{
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}
.or
{
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 90px;
}
.account-box .btn:hover
{
    color: #fff;
}
.btn-facebook
{
    background-color: #3F639E;
    color: #fff;
    font-weight:bold;
}
.btn-google
{
    background-color: #454545;
    color: #fff;
    font-weight:bold;
}
.margin {
    margin: 0 15px;
    padding: 8px!important;
}

.profile-data {
    width: 100%;
    position:relative;
    display:inline-block;
    .profile-picture {
        width:250px;
        display:block;
        margin:auto;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;

    } 
}