{% extends "::base.html.twig" %}

{% block title %}AppBundle:Serie:index{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="{{ path('bowlingfront')}}">User</a></li>
            <li><a href="{{ path('bowlingfront')}}">{{ user.firstName }} {{ user.lastName }}</a></li>
            <li><a href="{{ path('bowlingfront')}}">Games</a></li>
        </ul>
    </div>
    <div class="row">
        <section class="filter-nav">

            <a href="{{ path('user_games_index', { id: user.id ,page: paginator.currentPage, type: 5}) }}"{{ type == 5 ? 'class="active"' }}>
                <i class="fa fa-random" aria-hidden="true"></i><br>
                <span>All Games</span>
            </a>

            <a href="{{ path('user_games_index', { id: user.id ,page: paginator.currentPage, type: 1}) }}" {{ type == 1 ? 'class="active"' }}>
                <i class="fa fa-random" aria-hidden="true"></i><br>

                <span>Open Bowling</span>
            </a> 

            <a href="{{ path('user_games_index', { id: user.id ,page: paginator.currentPage, type: 3}) }}" {{ type == 3 ? 'class="active"' }}>
                <i class="fa fa-cubes" aria-hidden="true"></i><br>
                <span>League</span>
            </a> 

            <a href="{{ path('user_games_index', { id: user.id ,page: paginator.currentPage, type: 2}) }}" {{ type == 2 ? 'class="active"' }}>
                <i class="fa fa-bar-chart" aria-hidden="true"></i><br>
                <span>Score Training</span>
            </a>

            <a href="{{ path('user_games_index', { id: user.id ,page: paginator.currentPage, type: 4}) }}" {{ type == 4 ? 'class="active"' }}>
                <i class="fa fa-trophy" aria-hidden="true"></i><br>
                <span>Tournaments</span>
            </a> 

        </section>
    </div>
    <section class="highscores">
        <h1 class="title">Ranking 
            {{ type == 5 ? 'All Games' }}
            {{ type == 1 ? 'Open Bowling' }}
            {{ type == 3 ? 'League' }}
            {{ type == 2 ? 'Score training' }}
            {{ type == 4 ? 'Tournaments' }}
            ({{ paginator.entityCount }})
        </h1>
    </section>
    
    {% if games.count < 1%}
    <div class="empty">
        <div class="alert alert-info" role="alert">
            <strong>{{ user.firstName}}</strong> currently has no <strong>
            {{ type == 5 ? '' }}
            {{ type == 1 ? 'Open Bowling' }}
            {{ type == 3 ? 'League' }}
            {{ type == 2 ? 'Score training' }}
            {{ type == 4 ? 'Tournaments' }}
            </strong> games registered.
        </div>
    </div>
    {%endif%}
    
{{ dump(paginator, type, games) }}
    {% for game in games %}
    <a href="#" class="col-lg-2 col-md-3 col-sm-4 col-xs-12 single-game">
        <h1 class="score">{{ game.total}} serie: {{ game.serie.id }}</h1>
        <span class="bowling">{{ game.serie.bowling.name }}</span>
        <span class="date">{{ game.createdAt|date }}</span>	
    </a>
    {% endfor %}
    
    <div id="pagination">
        {% if paginator.totalPages > 1 %}
            </ul>
            <ul class="pagination pagination-sm col-sm-12">
                {# `«` arrow  #}
                <li {{ paginator.currentPage == 1 ? 'class="disabled"' }}>
                    <a href="{{ path('user_games_index', { id: user.id, "page": paginator.currentPage-1 < 1 ? 1 : paginator.currentPage-1, "type" :  type } ) }}">«</a>
                </li>

                {# Render each page number #}
                {% for i in 1..paginator.totalPages %}
                    <li {{ paginator.currentPage == i ? 'class="active"' }}>
                        <a href="{{ path('user_games_index', { id: user.id, "page": i, "type" :  type}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {# `»` arrow #}
                <li {{ paginator.currentPage == paginator.totalPages ? 'class="disabled"' }}>
                    <a href="{{ path('user_games_index', { id: user.id, "page": paginator.currentPage +1 <= paginator.totalPages ? paginator.currentPage+1 : paginator.currentPage, "type" :  type}) }}">»</a>
                </li>
            </ul>
        {% endif %}
    </div>

{% endblock %}
