{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active"><a href="{{ path('games') }}">Games</a></li>
            <li class="active">Game #{{ entity.id }}</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Game #{{ entity.id }}</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
                
            <div class="panel panel-default">
                <div class="panel-heading">
                    Created at {{ entity.createdAt|date }} by <a href=""></a>
                    <a href="{{ url('serie_edit', { 'id': entity.id }) }}" class="pull-right"><i class="fa fa-pencil-square-o"></i> Edit this</a>
                </div>
                    <div class="panel-body">
                        <form class="form-horizontal" action="" method="post">

                            <!-- Name input-->
                            <div class="form-group">
                                <div class="col-md-6">
                                <p>Name:</p>
                                    <div class="well well-sm">
                                    {{ entity.id }}
                                     </div>
                                </div>
                            </div>

                            <!-- Adress, City input-->
                            <div class="form-group">
                                <div class="col-md-6">
                                <p>Bowling:</p>
                                    <div class="well well-sm">
                                     {{ entity.id }}
                                     </div>
                                </div>
                                <div class="col-md-6">
                                <p>Type:</p>
                                    <div class="well well-sm">
                                     {{ entity.id }}
                                     </div>
                                </div>
                            </div>

                            <!-- Postcode, Country input-->
                            <div class="form-group">
                                <div class="col-md-6">
                                <p>User:</p>
                                    <div class="well well-sm">
                                     {{ serie.games.user.id }}
                                     </div>
                                </div>
                            </div>
                        </form>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Games
                    </div>
                    <div class="panel-body">
                        {{ serie.games.user.firstName }}
                         {{ dump(entity) }}

                   </div>

                </div>
            </div>
{#{ dump(user, serie.type.name) }#}

        </div><!--/.col-->
            <table class="table-header max bbottom">
                    <tr>
                    <td>Lane 31</td>
                    <td>Game {{ entity.id }}</td>
                    <td>{{ entity.createdAt|date }}</td>
                    <td>17:24</td>
                    </tr>
            </table>

            <table class="bowlingscore">
                <thead>
                    {% for frame in serie.games.frames %}
                        <th>{{ frame.id }}</th>
                    {% endfor %}
                    <th class="total">Totaal</th>
                </thead>
                    <tbody>
                        <tr>

                        {% for frame in serie.games.frames %} 

                            {% if frame.frame == 10 %}
                                <td class="last">
                                    <span class="first">{{ frame.first }}</span>
                                    <span class="second">{{ frame.second }}</span>
                                    <span class="third">{{ frame.third }}</span>
                                </td>
                                <td></td>
                                {% else %}
                                <td><span class="first">{{ frame.first }}</span><span class="second">{{ frame.second }}</span></td>
                            {% endif %}

                        {% endfor %}

                        </tr>
                        <tr>
                            {% for frame in serie.games.frames %}
                                <td class="text-center">{{ frame.total }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                        </tr>
                        {% for frame in serie.games.frames %}
                        <td class="text-center">
                            <ul class="score_pins">
                                       
                            {% for fling in frame.fling %}
                                 
                                {% if fling|length >= 1 %}
                                      
                                    {% if fling.worp == 1 %}

                                        Beurt:{{ loop.index }}
                                        <hr>
                                        {% for pins in fling.pins %}
                                           
                                        {% if pins %}
                                            <li class="circle hit"></li>
                                        {% else %}
                                            <li class="circle"></li>
                                        {% endif %}
                                        

                                           
                                           
                                        {% endfor %}

                                    {% endif %}

                                {% endif %}
                                 
                                 

                            {% endfor %}

                        </td>

                        {% endfor %}

                            </tr>
                    </tbody>
            </table>

            <table class="table-header max resume">
                    <tr>
                            <td>Game</td>
                            <td>Strikes</td>
                            <td>Spares</td>
                            <td>Splits</td>
                            <td>Split Conversions</td>
                            <td>Gutter</td>
                            <td>Gemiddelde</td>
                    </tr>
                    <tr>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>300</td>
                    </tr>
            </table>
    </div>
    </div>
{% endblock %}
