/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-mrt-2016, 0:49:25
    Author     : Jeroen
*/

/*
 * reset CSS 
 */
 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

/* ========================
   CSS: Scorebord 
   ======================== */
   
.table-header {
    font-weight:bold;
    border:1px solid #000;
    border-collapse: collapse;
}   


.bbottom {
  border-bottom:none;
}

.resume {
  margin-top: 3%;
}
.table-header td {
    padding: 5px 10px;
    border-bottom:none;
     border-collapse: collapse;
}   
   
.bowlingscore {
    width:100%;
    margin:auto;
    margin-bottom:15px;
}

.bowlingscore th.total {
    //background:blue;
    width:10%;
}

.bowlingscore span {
//background: yellow;
padding: 2px 6px;
margin: 0;
text-align:center;
display: inline-block;
}

.bowlingscore span.first {
    //background:gray;
    border-right: 1px solid #000;
    width: 50%;

}

.bowlingscore span.second {
    //background:orange;
    width: 50%;

}
.bowlingscore span.third {
    border-left: 1px solid #000;
}      

.bowlingscore .last span {
    //background:red;
    width: 33%;

}

.bowlingscore th {
background:#ddd;
text-align: center;
padding: 1%;
border:1px #000 solid;
}

.bowlingscore tbody td {
    border:1px #000 solid;
}

/* ========================
   CSS: pins 
   ======================== */

.pins input[type=checkbox]{
  width   : 56px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=checkbox]:hover + label:hover {
    cursor:pointer;
}

input[type=checkbox]:not(old) + label{
  display      : inline-block;
  margin-left  : -56px;
  padding-left : 56px;
  background   : url('../img/pins.png') no-repeat 0 0;
  line-height  : 48px;
}

/* Wat als de pin disabled is */
#checkbox1:not(old):disabled + label,
#checkbox2:not(old):disabled + label,
#checkbox3:not(old):disabled + label,
#checkbox4:not(old):disabled + label,
#checkbox5:not(old):disabled + label,
#checkbox6:not(old):disabled + label,
#checkbox7:not(old):disabled + label,
#checkbox8:not(old):disabled + label,
#checkbox9:not(old):disabled + label,
#checkbox10:not(old):disabled + label {
  background-position : 0 0px!important;
  color:red;
}

/* Dit moest omdat de label anders niet empty mocht zijn */
#checkbox1:not(old) + label,
#checkbox2:not(old) + label,
#checkbox3:not(old) + label,
#checkbox4:not(old) + label,
#checkbox5:not(old) + label,
#checkbox6:not(old) + label,
#checkbox7:not(old) + label,
#checkbox8:not(old) + label,
#checkbox9:not(old) + label,
#checkbox10:not(old) + label {
  height: 48px;
}

/* Positie van de afbeelding */
#checkbox1:not(old) + label{
  background-position : 0 -96px!important;
}

#checkbox2:not(old) + label{
  background-position : 0 -144px!important;
}

#checkbox3:not(old) + label{
  background-position : 0 -192px!important;
}

#checkbox4:not(old) + label{
  background-position : 0 -240px!important;
}

#checkbox5:not(old) + label{
  background-position : 0 -288px!important;
}

#checkbox6:not(old) + label{
  background-position : 0 -336px!important;
}

#checkbox7:not(old) + label{
  background-position : 0 -384px!important;
}

#checkbox8:not(old) + label{
  background-position : 0 -432px!important;
}

#checkbox9:not(old) + label{
  background-position : 0 -480px!important;
}

#checkbox10:not(old) + label{
  background-position : 0 -528px!important;
}


/*input[type=checkbox]:not(old):checked + label{
  background-position : 0 -48px!important;
}*/

/* Positie van de NIET gecheckte checkbox */
#checkbox1:not(old):checked + label,
#checkbox2:not(old):checked + label,
#checkbox3:not(old):checked + label,
#checkbox4:not(old):checked + label,
#checkbox5:not(old):checked + label,
#checkbox6:not(old):checked + label,
#checkbox7:not(old):checked + label,
#checkbox8:not(old):checked + label,
#checkbox9:not(old):checked + label,
#checkbox10:not(old):checked + label {
  background-position : 0 -48px!important;
}

.pins {
    background:yellow;
    width:240px;
    margin:auto;
}
.pins div {
    height:45px;
}
.pins .fourth_row {
    //background:red;
}
.pins .third_row {
    margin:auto;
    //background:purple;
    width:75%;
    
}
.pins .second_row {
    //background:green;
    width: 50%;
    margin: auto;
}
.pins .first_row {
    //background:orange;
    width: 24%;
    margin: auto;
}


/* ========================
   CSS: dots 
   ======================== */
   
.circle{
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    border:1px solid #333;
    width:8px;
    height:8px;
    background:#333;
    display:inline-block;
}

.hit {
    background: #eee;
}
.score_pins {
    margin-top: 10px;
    display: inline-block;
    margin: 10px 19px 10px;
}

.score_pins > li{
   //background:orange;
    margin: -9px;
}

.score_pins > li.first_row {
    margin: 6px 0 2px;
}


/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

/*.btn-breadcrumb > *:nth-child(n+2) {
  display:none;
}*/

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 60px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 170px;
    }
}


/* homepage */

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;

    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}

