{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}

    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        
        <a href="{{ path('users') }}" class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ users | length }}</div>
                        <div class="text-muted">Users</div>
                    </div>
                </div>
            </div>
        </a>    
        <a href="{{ path('bowlingcentra') }}" class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ bowlingcentra | length }}</div>
                        <div class="text-muted">bowlingcentra</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('games') }}" class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked bowling-ball-pin"><use xlink:href="#stroked-bowling-ball-pin"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                       <div class="large">{{ games | length }}</div>
                        <div class="text-muted">Games</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('series') }}" class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked bowling-pins"><use xlink:href="#stroked-bowling-pins"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ series | length }}</div>
                        <div class="text-muted">Series</div>
                    </div>
                </div>
            </div>
        </a>
    </div><!--/.row-->

        <div class="ranking user">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Recent Games</h1>
                </div>
            </div><!--/.row-->
            <div class="col-12">

                <section class="highscores">
  
                    {% for game in recentGames %}
                    <a href="{{ path('game_show', {id: game.id}) }}" class="serie col-xs-12 col-md-6 col-lg-6">
                        <div class="circle-score big">{{ game.total }}</div>
                            <h1>{{ game.serie.name }}</h1>
                        <div class="game-data">
                            <ul>
                                <li>{{ game.bowling.name }}</li>
                                <li>by: {{ game.user.firstName }} {{ game.user.lastName }}</li>
                                <li><span>{{ game.createdAt|date('j M Y H:i') }}</span></li>
                            </ul>
                        <i class="fa fa-angle-right next" aria-hidden="true"></i>
                        </div>
                    </a>
                    {% endfor %}
      
                </section>
            
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Recent Series</h1>
                </div>
            </div><!--/.row-->
            
            <section class="highscores">
                {% for serie in recentSeries %}
                    <a href="{{ path('serie_show', { id: serie.id })}}" class="serie col-xs-12 col-md-6 col-lg-6">
                        <div class="circle-score big">
                            {% if serie.games|length > 0 %}
                                {% set total = 0%}
                                {% for game in serie.games %}
                                    {%set total = total + game.total %}                                
                                {% endfor %}
                                    {{ total }}
                                {%else%}
                                    0
                            {% endif %}
                        </div>
                            <h1>{{ serie.name }}</h1>
                        <div class="game-data">
                            <ul>
                                <li>
                                {% if serie.games|length > 0 %}
                                    {% for game in serie.games %}
                                        {{ game.total}}
                                    {%if not loop.last%},{%endif%}
                                    {% endfor %}
                                {%else%}
                                    No games registered
                                {% endif %}
                                </li>
                                <li>{{ serie.bowling.name }}, {{ serie.bowling.city }}</li>
                                
                                <li>{{ serie.games|length }} Games <span>- {{ serie.createdAt|date('j M Y H:i') }}</span></li>
                            </ul>
                        <i class="fa fa-angle-right next" aria-hidden="true"></i>
                        </div>
                    </a>

                {% endfor %}

                
            </section>

            </div>

    </div>
                

{% endblock %}
