{% extends "::base.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div ng-controller="GameCtrl">
        <div class="row"> 
            <ul class="breadcrumbs">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
                <li><a href="" class="game" data-game="{{ game.id }}">Game</a></li>
                <li><a href="">New</a></li> 
            </ul> 
        </div>
        <span class="form-title">
            <div class="row">
                <h1>Current Frame: {{ '{{ frameNumber }}' }}

                  <span ng-if="flingNumber == 1"><i class="fa fa-circle-thin" aria-hidden="true"></i></span>
                  <span ng-if="flingNumber == 1"><i class="fa fa-circle" aria-hidden="true"></i></span>

                  <span ng-if="flingNumber == 2"><i class="fa fa-circle" aria-hidden="true"></i></span>
                  <span ng-if="flingNumber == 2"><i class="fa fa-circle-thin" aria-hidden="true"></i></span>

                  <span ng-if="flingNumber == 3"><i class="fa fa-circle" aria-hidden="true"></i></span>
                  <span ng-if="flingNumber == 3"><i class="fa fa-circle-thin" aria-hidden="true"></i></span>
                  <span ng-if="flingNumber == 3"><i class="fa fa-circle-thin" aria-hidden="true"></i></span>
                </h1>
                <h3>Current fling: {{ '{{ flingNumber }}' }}</h3>
            </div> 
        </span>

<div class="row pin-frame">

    <div class="pins">

      <div class="fourth_row">
          <input ng-click="getChanges()" ng-repeat-start="pin in pins" ng-if="(pin.id <= 10 && pin.id >= 7)" type="checkbox" id="checkbox{{ '{{ pin.id }}' }}" ng-model="pin.selected" value={{ '{{ pin.name }}' }} />
          <label ng-repeat-end="pin in pins" ng-if="(pin.id <= 10 && pin.id >= 7)" for="checkbox{{ '{{ pin.id }}' }}"></label>
      </div>

      <div class="third_row">
          <input ng-click="getChanges()" ng-repeat-start="pin in pins" ng-if="(pin.id <= 6 && pin.id >= 4)" type="checkbox" id="checkbox{{ '{{ pin.id }}' }}" ng-model="pin.selected" value={{ '{{ pin.name }}' }} />
          <label ng-repeat-end="pin in pins" ng-if="(pin.id <= 6 && pin.id >= 4)" for="checkbox{{ '{{ pin.id }}' }}"></label>
      </div>

      <div class="second_row">
          <input ng-click="getChanges()" ng-repeat-start="pin in pins" ng-if="(pin.id <= 3 && pin.id >= 2)" type="checkbox" id="checkbox{{ '{{ pin.id }}' }}" ng-model="pin.selected" value={{ '{{ pin.name }}' }} />
          <label ng-repeat-end="pin in pins" ng-if="(pin.id <= 3 && pin.id >= 2)" for="checkbox{{ '{{ pin.id }}' }}"></label>
      </div>

      <div class="first_row">
          <input ng-click="getChanges()" ng-repeat-start="pin in pins" ng-if="pin.id == 1" type="checkbox" id="checkbox{{ '{{ pin.id }}' }}" ng-model="pin.selected" value={{ '{{ pin.name }}' }} />
          <label ng-repeat-end="pin in pins" ng-if="pin.id == 1" for="checkbox{{ '{{ pin.id }}' }}"></label>
      </div>

    </div>

</div>


    <div class="row">

        <div class="btn-new-game">
            <button type='button' ng-click="setStrike()" ng-if="flingNumber == 1" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Strike</button>
            <button type='button' ng-click="setSpare()" ng-if="flingNumber == 2" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Spare</button>
            <button type='button' ng-click="nextFling()" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Next Fling</button>
            <button type='button' ng-click="database()" ng-if="frameNumber === 10 && flingNumber >=  2" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">End game</button>
        </div>

    </div>

<button type='button' ng-click="database()" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 hidden">POST DATABASE</button>
  <button type='button' ng-click="nextFrame()" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 hidden ">Next Frame</button>

  <button type='button' ng-click="debug()" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 hidden">debug</button>

<button type='button' ng-click="submitFrame()" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 hidden">saveFrame</button>
<button type='button' ng-click="submitFling()" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 hidden">saveFling</button>
<hr>
      <section class="score">
    <div class="score-left col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="half">Lane {{ game.lane }}</div>
            <div class="half">Game {{ game.id}}</div>
        </div>
        <div class="row">
            
            <div ng-repeat="i in [1,2,3,4,5,6]" class="frame frame-nr col-xs-2" ng-bind="i"></div>
                
        </div>
        <div class="row">
            <div ng-repeat-start="frame in frames | slice:0:6" data-frame="frame{{ '{{ frame.frame }}' }}.fling{{ '{{ fling.id}}' }}" class="frame frame-total col-xs-1" ng-bind="frame.flings[0].total"></div>
            <div ng-repeat-end="frame in frames | slice:0:6" data-frame="frame{{ '{{ frame.frame }}' }}.fling{{ '{{ fling.id}}' }}" class="frame frame-total col-xs-1" ng-bind="frame.flings[1].total"></div>

        </div>
        <div class="row">
          <div ng-repeat="frame in frames | slice:0:6">
              <div class="frame frame-total col-xs-2">
                  <p class="hidden">total:{{ '{{ frame.total }}' }},<br/></p>
                  <p class="hidden">label:{{ '{{ frame.label }}' }},<br/></p>
                  <p class="hidden">gametotal:{{ '{{ frame.gameTotal }}' }},<br/></p>
                  <p class="hidden">bonus{{ '{{ frame.bonus }}' }}</p>
                  
                  {{ '{{ frame.gameTotal }}' }}
              </div>
          </div>           
        </div>
      </div>

      <div class="score-right col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="half"><i class="fa fa-calendar" aria-hidden="true"></i> {{ '{{ date | date:"dd/MM/yyyy" }}' }} </div>
            <div class="half"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ '{{ date | date:"HH:mm" }}' }}</div>
        </div>
        <div class="row">
   
            <div ng-repeat="i in [7,8,9]" class="frame frame-nr col-xs-2" ng-bind="i"></div>
            <div class="frame frame-nr col-xs-4">10</div> 
            <div class="frame frame-nr col-xs-2">Totaal</div> 
                
        </div>
        <div class="row">
            <div ng-repeat-start="frame in frames | slice:6:9" data-frame="frame{{ '{{ frame.frame }}' }}.fling{{ '{{ fling.id}}' }}" class="frame frame-total col-xs-1" ng-bind="frame.flings[0].total"></div>
            <div ng-repeat-end="frame in frames | slice:6:9" data-frame="frame{{ '{{ frame.frame }}' }}.fling{{ '{{ fling.id}}' }}" class="frame frame-total col-xs-1" ng-bind="frame.flings[1].total"></div>

        </div>
        <div class="col-xs-4">
          <div class="row" ng-repeat="frame in frames | slice:9:10">
            <div ng-repeat="fling in frame.flings">
              <div data-frame="frame{{ '{{ frame.frame }}' }}.fling{{ '{{ fling.id}}' }}" class="frame frame-total col-xs-4" ng-bind="fling.total"></div>
            </div>
          </div>
        </div>
           
        </div>
        <div class="row">
          <div ng-repeat="frame in frames | slice:6:10">
              <div class="frame frame-total col-xs-2">
                  <p class="hidden">total:{{ '{{ frame.total }}' }},<br/></p>
                  <p class="hidden">label:{{ '{{ frame.label }}' }},<br/></p>
                  <p class="hidden">gametotal:{{ '{{ frame.gameTotal }}' }},<br/></p>
                  <p class="hidden">bonus{{ '{{ frame.bonus }}' }}</p>
                  
                  {{ '{{ frame.gameTotal }}' }}
              </div>
          </div>           
        </div>
      </div>

    </section>


    </div>
{% endblock %}
