{% extends "::base.html.twig" %}

{% block title %}AppBundle:Serie:index{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="">My Games</a></li>
        </ul>
    </div>
        
    <span class="page-title">
        <h1>My Games</h1>
        <a href="{{ path('games_new') }}"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
    </span>
        
    <hr class="fancy-hr">
        
    <div class="ranking row user">
        <section class="filter-nav">

            <a href="{{ path('gamesfront_index', { page: paginator.currentPage, type: 5}) }}"{{ type == 5 ? 'class="active"' }}>
                <i class="fa fa-random" aria-hidden="true"></i><br>
                <span>All Games</span>
            </a>

            <a href="{{ path('gamesfront_index', { page: paginator.currentPage, type: 1}) }}" {{ type == 1 ? 'class="active"' }}>
                <i class="fa fa-random" aria-hidden="true"></i><br>

                <span>Open Bowling</span>
            </a> 

            <a href="{{ path('gamesfront_index', { page: paginator.currentPage, type: 3}) }}" {{ type == 3 ? 'class="active"' }}>
                <i class="fa fa-cubes" aria-hidden="true"></i><br>
                <span>League</span>
            </a> 

            <a href="{{ path('gamesfront_index', { page: paginator.currentPage, type: 2}) }}" {{ type == 2 ? 'class="active"' }}>
                <i class="fa fa-bar-chart" aria-hidden="true"></i><br>
                <span>Score Training</span>
            </a>

            <a href="{{ path('gamesfront_index', { page: paginator.currentPage, type: 4}) }}" {{ type == 4 ? 'class="active"' }}>
                <i class="fa fa-trophy" aria-hidden="true"></i><br>
                <span>Tournaments</span>
            </a> 

        </section>
    </div>
    <section class="highscores">
        <h1 class="title">Ranking 
            {{ type == 5 ? 'All Games' }}
            {{ type == 1 ? 'Open Bowling' }}
            {{ type == 3 ? 'League' }}
            {{ type == 2 ? 'Score training' }}
            {{ type == 4 ? 'Tournaments' }}
            ({{ paginator.entityCount }})
        </h1>
    
    
    {% if games.count < 1%}
    <div class="empty">
        <div class="alert alert-info" role="alert">
            <strong>You </strong> currently has no <strong>
            {{ type == 5 ? '' }}
            {{ type == 1 ? 'Open Bowling' }}
            {{ type == 3 ? 'League' }}
            {{ type == 2 ? 'Score training' }}
            {{ type == 4 ? 'Tournaments' }}
            </strong> games registered.
        </div>
    </div>
    {%endif%}

    {% for game in games %}
    <a href="{{ url('gamefront_show', { 'id': game.id }) }}" class="serie col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="circle-score small">
                {{ game.total }}
        </div>
        <h1>{{ game.serie.name }}</h1>
        <div class="game-data">
            <ul>
                <li><span>{{ game.serie.bowling.name }}</span></li>
                <li><span>{{ game.createdAt|date('j M Y H:i') }}</span></li>
            </ul>
        <i class="fa fa-angle-right next" aria-hidden="true"></i>
        </div>	
    </a>
    {% endfor %}
    </section>
    <div id="pagination">
        {% if paginator.totalPages > 1 %}
            </ul>
            <ul class="pagination pagination-sm col-sm-12">
                {# `«` arrow  #}
                <li {{ paginator.currentPage == 1 ? 'class="disabled"' }}>
                    <a href="{{ path('gamesfront_index', { "page": paginator.currentPage-1 < 1 ? 1 : paginator.currentPage-1, "type" :  type } ) }}">«</a>
                </li>

                {# Render each page number #}
                {% for i in 1..paginator.totalPages %}
                    <li {{ paginator.currentPage == i ? 'class="active"' }}>
                        <a href="{{ path('gamesfront_index', { "page": i, "type" :  type}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {# `»` arrow #}
                <li {{ paginator.currentPage == paginator.totalPages ? 'class="disabled"' }}>
                    <a href="{{ path('gamesfront_index', { "page": paginator.currentPage +1 <= paginator.totalPages ? paginator.currentPage+1 : paginator.currentPage, "type" :  type}) }}">»</a>
                </li>
            </ul>
        {% endif %}
    </div>

{% endblock %}
