{% extends "::base.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}

        <div class="row"> 
            <ul class="breadcrumbs">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
                <li><a href="">Game</a></li>
                <li><a href="">New</a></li> 
            </ul> 
        </div>
        <span class="form-title">
            <div class="row">
                <h1>select a Serie</h1>
                <h3>My recent Series</h3>
            </div> 
        </span>
   
  
<div class="row">
    
        <section class="highscores series">
            {% if series%}
                {% for serie in series %} 
                    <a href="{{ path("create_game", { serie_id : serie.id}) }}" class="single-rank">
                        <div class="circle-score">
                        {% if serie.games|length > 0 %}
                            {% set total = 0%}
                            {% for game in serie.games %}
                                {%set total = total + game.total %}                                
                            {% endfor %}
                                {{ total }}
                            {%else%}
                                0
                        {% endif %}
                        </div>
                            <h1>{{ serie.name }}</h1>
                        <div class="game-data">
                            <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ serie.createdAt|date }}</div>

                        <i class="fa fa-angle-right next" aria-hidden="true"></i>
                        </div>

                    </a>

                {% endfor %}
                    
                {%else%}

                <div class="alert alert-info margin" role="alert">
                    You <strong>recently </strong> have not registered any series.
                </div>
            {%endif%}

        </section>

        <div class="col-md-12 ng-scope" ng-controller="LocationCtrl">

        <span class="form-title">
            <div class="row">
                <h1>or create a New Serie</h1>

            </div> 
        </span>
        
    <div class="row type">
        <a href="{{ url('seriefront_new', {id:  1 })}}" class="serie-type col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <i class="fa fa-question" aria-hidden="true"></i><br>
            <span>Open Bowling</span>
        </a> 

        <a href="{{ url('seriefront_new', {id:  3 })}}" class="serie-type col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <i class="fa fa-cubes" aria-hidden="true"></i><br>
            <span>League</span>
        </a> 

        <a href="{{ url('seriefront_new', {id:  2 })}}" class="serie-type col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <i class="fa fa-bar-chart" aria-hidden="true"></i><br>
            <span>Score Training</span>
        </a>

        <a href="{{ url('seriefront_new', {id:  4 })}}" class="serie-type col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <i class="fa fa-trophy" aria-hidden="true"></i><br>
            <span>Tournaments</span>
        </a> 
    </div>
{% endblock %}
