{% extends "::base.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}

        <div class="row"> 
            <ul class="breadcrumbs">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
                <li><a href="">Game</a></li>
                <li><a href="">New</a></li> 
            </ul> 
        </div>
        <span class="form-title">
            <div class="row">
                <h1 data-serie-id="{{ serie.id }}">creating a new Game</h1>
                <h2 data-id="{{ serie.type.id }}">Serie: {{ serie.name }}</h2>
                <h3 class="hidden" data-bowling="{{ serie.bowling.id }}"></h3>
            </div> 
        </span>
   
  
    <div class="row">

        <div class="col-md-12 ng-scope" ng-controller="LocationCtrl">

        {{ form_start(new_form) }}

        {{ form_row(new_form.lane, {
            'label': 'Lane',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control input-md'}
        }) }}
   
        {{ form_row(new_form.bowling, {
            'label': 'Bowling',
            'label_attr': {'class': 'control-label hidden'},
            'attr': {'class': 'form-control input-md hidden'},
            'value': 'jeroen'
        }) }}
        
        {{ form_row(new_form.type, {
            'label': 'Type',
            'label_attr': {'class': 'control-label hidden'},
            'attr': {'class': 'form-control input-md hidden'}
        }) }}
        
        {{ form_row(new_form.serie, {
            'label': 'Serie',
            'label_attr': {'class': 'control-label hidden'},
            'attr': {'class': 'form-control input-md hidden'}
        }) }}
        
        {{ form_row(new_form.total, {
            'label': 'Total',
            'label_attr': {'class': 'control-label hidden'},
            'attr': {'class': 'form-control input-md hidden'},
            'value': 0
        }) }}
        
        <hr>
        
        <button id="submit" type="submit" class="btn btn-game btn-create btn-primary-outline">Start Game</button>

        {{ form_end(new_form) }}
        </div>
    </div>
{% endblock %}
