{% extends "::base.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active"><a href="{{ url('bowlingcentra') }}">Bowlingcentra</a></li>
            <li class="active"><a href="{{ url('bowling_show', { 'id': entity.id }) }}">{{ entity.name }}</a></li>
            <li class="active">edit</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ entity.name }}</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
            
                
            <div class="panel panel-default">
            <div class="panel-heading">
                Current status: 
                <span class="label label-default">Pending</span>
                <span class="label label-success">Open</span>
                <span class="label label-warning">Closed</span>
                <span class="label label-danger">Declined</span>
                | Created at {{ entity.createdAt|date }}
            </div>
                <div class="panel-body">

        {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.name, {
        'label': 'Name',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}
    
    {{ form_row(edit_form.lat, {
        'label': 'Lat',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}
    
    {{ form_row(edit_form.lng, {
        'label': 'Lng',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}

    {{ form_row(edit_form.postalcode, {
        'label': 'Postalcode',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}
    
    {{ form_row(edit_form.city, {
        'label': 'City',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}
    
    {{ form_row(edit_form.country, {
        'label': 'Country',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}
    <hr>
{{ form_widget(edit_form.save, {
'label': 'Save',
'attr': {'class': 'btn btn-default btn-md'}
 }) }}
 <a href="{{ path('admin') }}" class="btn btn-default btn-md">Back</a>
{{ form_end(edit_form) }}            

                  
       


               </div>
            </div>


        </div><!--/.col-->

    </div><!--/.row-->
{% endblock %}
