{% extends "::base.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="{{ path('bowlingfront')}}">Bowlingcentra</a></li>
        </ul>
    </div>   
        <span class="page-title">
            <h1>Bowling Centra</h1>
            <a href="{{ path('bowlingfront_new') }}"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
        </span>
        
        <hr class="fancy-hr">

        <form class="search" method="post" action="index.html" ng-controller="BowlingCtrl">
          <input type="search" name="q" placeholder="Search..." autocomplete="off" ng-model="zoekwoord">
          <ul class="search-ac">
            <li ng-repeat="bowling in bowlingcentra | filter: zoekwoord | limitTo:5">
                <a ng-href="./{{ '{{bowling.id}}' }}/_page=1_type">
                    {{ '{{ bowling.name }}' }} <br>
                    <span>{{ '{{ bowling.city }}' }}, {{ '{{ bowling.country }}' }}</span>
                </a>
            </li>

          </ul>
        </form>
        
        <hr class="fancy-hr">


            <h2 class="title">All Bowlingcentra ({{ paginator.entityCount }})</h2>

           
            {% for bowling in bowlingcentra %}
             
                <a href="{{ url('bowlingfront_show', { 'id': bowling.id }) }}" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 single-bowling">
                    <div class="image">
                        <img src="{{ bowling.filename }}" class="thumb">
                    </div>
                    <h1 class="name">{{ bowling.name }}</h1>
                    <span class="city">{{ bowling.city }}, {{ bowling.country }}</span>
                    <span class="games">{{ bowling.games | length }} Games registered</span>	
                </a>

            {% endfor %}

            
    <div id="pagination">
        {% if paginator.totalPages > 1 %}
            </ul>
            <ul class="pagination pagination-sm col-sm-12">
                {# `«` arrow  #}
                <li {{ paginator.currentPage == 1 ? 'class="disabled"' }}>
                    <a href="{{ path('bowlingfront', {"page": paginator.currentPage-1 < 1 ? 1 : paginator.currentPage-1 } ) }}">«</a>
                </li>

                {# Render each page number #}
                {% for i in 1..paginator.totalPages %}
                    <li {{ paginator.currentPage == i ? 'class="active"' }}>
                        <a href="{{ path('bowlingfront', {"page": i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {# `»` arrow #}
                <li {{ paginator.currentPage == paginator.totalPages ? 'class="disabled"' }}>
                    <a href="{{ path('bowlingfront', {"page": paginator.currentPage +1 <= paginator.totalPages ? paginator.currentPage+1 : paginator.currentPage}) }}">»</a>
                </li>
            </ul>
        {% endif %}
    </div>

{% endblock %}
