{% extends "::base.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="{{ path("bowlingfront") }}">Bowlingcentra</a></li>
            <li><a href="">New</a></li>
        </ul>
    </div> 

    <span class="form-title">
        <div class="row">
            <h1>New bowling</h1>
        </div> 
    </span>

    <div class="row">
         <div class="col-md-12" ng-controller="LocationCtrl">
                 
                        
    {{ form_start(new_form) }}
    
        
            {{ form_row(new_form.name, {
                'label': 'Name',
                'label_attr': {'class': 'control-label'},
                'attr': {'class': 'form-control input-md'}
            }) }}
            
            {{ form_row(new_form.filename, {
                'label': 'Filename',
                'label_attr': {'class': 'control-label hidden'},
                'attr': {'class': 'form-control input-md hidden'},
                'value': 'http://lorempixel.com/90/90/?50690'
            }) }}
 
            {{ form_row(new_form.header, {
                'label': 'Header',
                'label_attr': {'class': 'control-label hidden'},
                'attr': {'class': 'form-control input-md hidden'},
                'value': 'http://lorempixel.com/400/150/?15559'
            }) }}
            
            {{ form_row(new_form.status, {
                'label': 'Status',
                'label_attr': {'class': 'control-label hidden'},
                'attr': {'class': 'form-control input-md hidden'},
                'value': 'pending'
            }) }}
 
            {{ form_row(new_form.lat, {
                'label': 'Lat',
                'label_attr': {'class': 'control-label hidden'},
                'attr': {'class': 'form-control input-md hidden'},
                'value': '{{ latitude }}',
            }) }}
            
            {{ form_row(new_form.lng, {
                'label': 'Lng',
                'label_attr': {'class': 'control-label hidden'},
                'attr': {'class': 'form-control input-md hidden'},
                'value': '{{ longitude }}'
            }) }}
        
            {{ form_row(new_form.postalcode, {
                'label': 'Postalcode',
                'label_attr': {'class': 'control-label hidden'},
                'attr': {'class': 'form-control input-md postalcode hidden'}

            }) }}
            {{ '{{ city }}' }}
            {{ form_row(new_form.city, {
                'label': 'City',
                'label_attr': {'class': 'control-label hidden'},
                'attr': {'class': 'form-control input-md city hidden'},
            }) }}
  
            {{ form_row(new_form.country, {
                'label': 'Country',
                'label_attr': {'class': 'control-label hidden'},
                'attr': {'class': 'form-control input-md country hidden'}
            }) }}
            
            <hr>
            
        <button id="submit" type="submit" class="btn btn-create btn-primary-outline">Submit Bowling</button>
        <a href="{{ path('bowlingcentra') }}" class="btn btn-default btn-md">Cancel</a>
    {{ form_end(new_form) }}

      
               </div>
            </div>


{% endblock %}
