{% extends "::base.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="{{ path('bowlingfront')}}">Bowlingcentra</a></li>
            <li><a href="">{{ entity.name }}</a></li>
        </ul>
    </div>   
        <div class="ranking row"> 
            <section class="bowling-header">
            <img src="{{entity.header}}" alt="placeholder image"/>
                <div class="bowling-name">
                    <h1>{{ entity.name }}</h1>
                    <p><i class="fa fa-map-marker"></i> {{ entity.city }}, {{ entity.country }}</p>
                </div>
            </section>


            <section class="filter-nav">
                
                <a href="{{ path('bowlingfront_show', { id: entity.id ,page: paginator.currentPage, type: 5}) }}"{{ filter_type == 5 ? 'class="active"' }}>
                    <i class="fa fa-random" aria-hidden="true"></i><br>
                    <span>All Games</span>
                </a>
                
                <a href="{{ path('bowlingfront_show', { id: entity.id ,page: paginator.currentPage, type: 1}) }}" {{ filter_type == 1 ? 'class="active"' }}>
                    <i class="fa fa-random" aria-hidden="true"></i><br>
                   
                    <span>Open Bowling</span>
                </a> 
            
                <a href="{{ path('bowlingfront_show', { id: entity.id ,page: paginator.currentPage, type: 3}) }}" {{ filter_type == 3 ? 'class="active"' }}>
                    <i class="fa fa-cubes" aria-hidden="true"></i><br>
                    <span>League</span>
                </a> 
                
                <a href="{{ path('bowlingfront_show', { id: entity.id ,page: paginator.currentPage, type: 2}) }}" {{ filter_type == 2 ? 'class="active"' }}>
                    <i class="fa fa-bar-chart" aria-hidden="true"></i><br>
                    <span>Score Training</span>
                </a>
                
                <a href="{{ path('bowlingfront_show', { id: entity.id ,page: paginator.currentPage, type: 4}) }}" {{ filter_type == 4 ? 'class="active"' }}>
                    <i class="fa fa-trophy" aria-hidden="true"></i><br>
                    <span>Tournaments</span>
                </a> 
                
            </section>

            <section class="highscores">
                <h1 class="title">Ranking 
                    {{ filter_type == 5 ? 'All Games' }}
                    {{ filter_type == 1 ? 'Open Bowling' }}
                    {{ filter_type == 3 ? 'League' }}
                    {{ filter_type == 2 ? 'Score training' }}
                    {{ filter_type == 4 ? 'Tournaments' }}
                    ({{ games|length }})
                </h1>

                {% if games.count < 1%}
                <div class="empty">
                    <div class="alert alert-info" role="alert">
                        <strong>{{ entity.name }}</strong> currently has no <strong>
                        {{ filter_type == 5 ? '' }}
                        {{ filter_type == 1 ? 'Open Bowling' }}
                        {{ filter_type == 3 ? 'League' }}
                        {{ filter_type == 2 ? 'Score training' }}
                        {{ filter_type == 4 ? 'Tournaments' }}
                        </strong> games registered.
                    </div>
                </div>
                {%endif%}
                
             {% set rank = 0 %}

                {% for game in games %}
                {% set rank = rank + 1 %}
             
                 <a href="{{ path("gamefront_show", {id: game.id }) }}" class="single-rank">
                    <img src="{{ game.user.imagePath }}">
                        <h1>{{ game.user.firstName }} {{ game.user.lastName }} #{{ game.id }}</h1>
                    <div class="game-data">
                        <div class="score"><i class="fa fa-trophy" aria-hidden="true"></i> {{ game.total }}</div>
                        <div class="avg"><i class="fa fa-bar-chart" aria-hidden="true"></i> AVG: 200</div>
                        <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ game.createdAt|date('d/m/Y') }}</div>
                    <span class="rank"><p>{{ rank }}</p></span>
                    {% if (rank == 1)%}
                        <img src="../../../assets/img/gold.svg">
                    {% endif %}
                    {% if (rank == 2)%}
                        <img src="../../../assets/img/silver.svg">
                    {% endif %}
                    {% if (rank == 3)%}
                        <img src="../../../assets/img/bronze.svg">
                    {% endif %}
                    {% if (rank > 3)%}
                        {% if (rank is even)%}
                            <img src="../../../assets/img/even.svg">
                        {% endif %}
                        {% if (rank is odd)%}
                            <img src="../../../assets/img/odd.svg">
                        {% endif %}
                    {% endif %}
                    <i class="fa fa-angle-right next" aria-hidden="true"></i>
                    </div>
                    
                </a>
                 {% endfor %}
   

            </section>
        </div>
                 
        <div id="pagination">
        {% if paginator.totalPages > 1 %}
            </ul>
            <ul class="pagination pagination-sm col-sm-12">
                {# `«` arrow  #}
                <li {{ paginator.currentPage == 1 ? 'class="disabled"' }}>
                    <a href="{{ path('bowlingfront_show', { id: entity.id, "page": paginator.currentPage-1 < 1 ? 1 : paginator.currentPage-1, "type" :  type } ) }}">«</a>
                </li>

                {# Render each page number #}
                {% for i in 1..paginator.totalPages %}
                    <li {{ paginator.currentPage == i ? 'class="active"' }}>
                        <a href="{{ path('bowlingfront_show', { id: entity.id, "page": i, "type" :  type}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {# `»` arrow #}
                <li {{ paginator.currentPage == paginator.totalPages ? 'class="disabled"' }}>
                    <a href="{{ path('bowlingfront_show', { id: entity.id, "page": paginator.currentPage +1 <= paginator.totalPages ? paginator.currentPage+1 : paginator.currentPage, "type" :  type}) }}">»</a>
                </li>
            </ul>
        {% endif %}
    </div>

{% endblock %}
