{% extends "::base.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="{{ path('usersfront_show', { id: entity.id, type: 1, page: 1 }) }}">{{ entity.firstName }} {{ entity.lastName }}</a></li>
            <li><a href="">Account details</a></li>
        </ul>
    </div> 

    <span class="page-title">
        <h1><i class="fa fa-wrench" aria-hidden="true"></i> Account details</h1>
    </span>
           
    <hr class="fancy-hr">

        <div class="profile-data">
             <img src="{{ entity.imagePath }}" class="profile-picture" alt="{{ entity.firstName}}'s Profile picture" title="{{ entity.firstName}}'s Profile picture"></img>
        </div>
       {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    
    {{ form_row(edit_form.image, {
        'label': 'Picture',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}
    
   {{ form_row(edit_form.firstName, {
        'label': 'First Name',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}
    
    {{ form_row(edit_form.lastName, {
        'label': 'Last Name',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}
    
    {{ form_row(edit_form.username, {
        'label': 'Username',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}
    
    {{ form_row(edit_form.password, {
        'label': 'Password',
        'label_attr': {'class': 'control-label hidden'},
        'attr': {'class': 'form-control input-md hidden'}
    }) }}
    
    <hr class="fancy-hr">
<button id="submit" type="submit" class="btn btn-create btn-primary-outline">Update </button>
 <a href="{{ path('usersfront_show', { id: entity.id, type: 1, page: 1 }) }}" class="btn btn-default btn-md">Back</a>
{{ form_end(edit_form) }}

{% endblock %}
