{% extends "::base.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="{{ path('bowlingfront')}}">User</a></li>
        </ul>
    </div>   
        <span class="page-title">
            <h1>Bowling Centra</h1>
            <a href=""><i class="fa fa-plus-square" aria-hidden="true"></i></a>
        </span>
        
        <hr class="fancy-hr">
 
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" id="accordion">
                    <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                    All Users
                </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-md" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-success btn-md" id="btn-chat">Search</button>
                            </span>
                        </div>
                        
                        <hr>
                        
                        <div class="row">
                        {% for user in entities %}
                            <a href="{{ url('users_show', { 'id': user.id }) }}" class="col-xs-12 col-md-6 col-lg-4 single-bowling">
                                <div class="panel-red panel-widget">
                                    <div class="row no-padding">
                                        <div class="col-sm-4 col-lg-5 col-md-4 widget-left image">
                                            <img src="{{ user.imagePath }}">
                                        </div>
                                        <div class="col-sm-8 col-lg-7 col-md-8 widget-right">
                                            <div class="large">{{ user.firstName }} {{ user.lastName }}</div>
                                            <div class="medium">{{ user.username }}</div>
                                            <div class="small">1337 Games played</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            
                        {% endfor %}

                    </div>

                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-md" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-success btn-md" id="btn-chat">Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!--/.col-->

        </div>
    </div><!--/.row-->
{% endblock %}
