{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="">{{ entity.firstName }} {{ entity.lastName }}</a></li>
        </ul>
    </div> 

        <div class="ranking row user">
           
            <section class="profile-header">
                {% if entity.id == app.user.id %}
                <a href="{{  path('usersfront_edit', { id: entity.id })}}"><i class="fa fa-cog settings" aria-hidden="true"></i></a>
                {% endif %}
            <div class="profile-data">
                <img src="{{ entity.imagePath }}" class="profile-picture" alt="placeholder image"/>
                <div class="user-name">
                    <h1>{{ entity.firstName }} {{ entity.lastName }} {{ entity.roles[0] == 'ROLE_ADMIN' ? '<i class="fa fa-check-circle" aria-hidden="true"></i>' }}</h1>
                    <p>{{ entity.username }}</p>
                </div>
                
                    
                <div class="user-stats">
                    <p>best score: <strong>
                            {% if all is not empty %}
                                {{ all[0].total }}
                                {% else %}
                                    0
                            {% endif %}
                        </strong><span> | </span> avg: <strong>
                    {% if all is not empty %}
                        {% set score = 0 %}
                        {% for game in all %}
                          {% set score = score + game.total %}
                        {% endfor %} 
                        {% set avg = score / all | length %}
                        {{ avg | number_format(0, '.', ',')}}
                        {% else %}
                            0
                    {% endif %}
                    </strong></p>
                </div>
            </div>
            </section>
  
            <section class="filter-nav">
                
                <a href="{{ path('usersfront_show', { id: entity.id ,page: paginator.currentPage, type: 5}) }}"{{ type == 5 ? 'class="active"' }}>
                    <i class="fa fa-random" aria-hidden="true"></i><br>
                    <span>All Games</span>
                </a>
                
                <a href="{{ path('usersfront_show', { id: entity.id ,page: paginator.currentPage, type: 1}) }}" {{ type == 1 ? 'class="active"' }}>
                    <i class="fa fa-random" aria-hidden="true"></i><br>
                   
                    <span>Open Bowling</span>
                </a> 
            
                <a href="{{ path('usersfront_show', { id: entity.id ,page: paginator.currentPage, type: 3}) }}" {{ type == 3 ? 'class="active"' }}>
                    <i class="fa fa-cubes" aria-hidden="true"></i><br>
                    <span>League</span>
                </a> 
                
                <a href="{{ path('usersfront_show', { id: entity.id ,page: paginator.currentPage, type: 2}) }}" {{ type == 2 ? 'class="active"' }}>
                    <i class="fa fa-bar-chart" aria-hidden="true"></i><br>
                    <span>Score Training</span>
                </a>
                
                <a href="{{ path('usersfront_show', { id: entity.id ,page: paginator.currentPage, type: 4}) }}" {{ type == 4 ? 'class="active"' }}>
                    <i class="fa fa-trophy" aria-hidden="true"></i><br>
                    <span>Tournaments</span>
                </a> 
                
            </section>
                      
           
            <section class="highscores">
                <h1 class="title">Ranking 
                    {{ type == 5 ? 'All Games' }}
                    {{ type == 1 ? 'Open Bowling' }}
                    {{ type == 3 ? 'League' }}
                    {{ type == 2 ? 'Score training' }}
                    {{ type == 4 ? 'Tournaments' }}
                    ({{ paginator.entityCount }})
                </h1>
                
                {% if games.count < 1%}
                <div class="empty">
                    <div class="alert alert-info" role="alert">
                        <strong>{{ entity.firstName}}</strong> currently has no <strong>
                        {{ type == 5 ? '' }}
                        {{ type == 1 ? 'Open Bowling' }}
                        {{ type == 3 ? 'League' }}
                        {{ type == 2 ? 'Score training' }}
                        {{ type == 4 ? 'Tournaments' }}
                        </strong> games registered.
                    </div>
                </div>
                {%endif%}
    
                {% set rank = 0 %}
                {% for game in games %}
                {# rank++ #}
            
                {% set rank = rank + 1 %}
                {% if page > 1 %}
                {% set rank = loop.index + (10 * page) %}
                {%endif%}
                <a href="{{ url('gamefront_show', { 'id': game.id }) }}" class="single-rank">
                    <div class="circle-score">300</div>
                        <h1>{{ game.serie.bowling.name }} {{ game.serie.bowling.city }} #{{ game.id }} {{ game.type.name }}</h1>
                    <div class="game-data">
                        <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ game.createdAt|date('Y-m-d') }} <i class="fa fa-clock-o" aria-hidden="true"></i> {{ game.createdAt|date('H:i') }}</div>
                    <span class="rank"><p>{{ rank }}</p></span>
                    {% if (rank == 1)%}
                        <img src="../../../assets/img/gold.svg">
                    {% endif %}
                    {% if (rank == 2)%}
                        <img src="../../../assets/img/silver.svg">
                    {% endif %}
                    {% if (rank == 3)%}
                        <img src="../../../assets/img/bronze.svg">
                    {% endif %}
                    {% if (rank > 3)%}
                        {% if (rank is even)%}
                            <img src="../../../assets/img/even.svg">
                        {% endif %}
                        {% if (rank is odd)%}
                            <img src="../../../assets/img/odd.svg">
                        {% endif %}
                    {% endif %}
                    <i class="fa fa-angle-right next" aria-hidden="true"></i>
                    </div>
                    
                </a>
            {% endfor %}            
            </section>
  
        </div>
        
    <div id="pagination">
        {% if paginator.totalPages > 1 %}
            </ul>
            <ul class="pagination pagination-sm col-sm-12">
                {# `«` arrow  #}
                <li {{ paginator.currentPage == 1 ? 'class="disabled"' }}>
                    <a href="{{ path('usersfront_show', { id: entity.id, "page": paginator.currentPage-1 < 1 ? 1 : paginator.currentPage-1, "type" :  type } ) }}">«</a>
                </li>

                {# Render each page number #}
                {% for i in 1..paginator.totalPages %}
                    <li {{ paginator.currentPage == i ? 'class="active"' }}>
                        <a href="{{ path('usersfront_show', { id: entity.id, "page": i, "type" :  type}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {# `»` arrow #}
                <li {{ paginator.currentPage == paginator.totalPages ? 'class="disabled"' }}>
                    <a href="{{ path('usersfront_show', { id: entity.id, "page": paginator.currentPage +1 <= paginator.totalPages ? paginator.currentPage+1 : paginator.currentPage, "type" :  type}) }}">»</a>
                </li>
            </ul>
        {% endif %}
    </div>

{% endblock %}