{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Bowlingcentra</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Bowlingcentra</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <a href="{{ path('bowlingcentra', { status: 'all'}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-teal panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph signia factory"><use xlink:href="#signia-factory"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ all | length }}</div>
                        <div class="text-muted">All bowling centra</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('bowlingcentra', { status: 'active'}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph signia checkmark"><use xlink:href="#signia-checkmark"/></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ active | length }}</div>
                        <div class="text-muted">Active bowling centra</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('bowlingcentra', { status: 'pending'}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                    <svg class="glyph signia help"><use xlink:href="#signia-help"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                       <div class="large">{{ pending | length }}</div>
                        <div class="text-muted">Pending Bowlingcentra</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('bowlingcentra', { status: 'disabled'}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                    <svg class="glyph signia delete"><use xlink:href="#signia-delete"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ disabled | length }}</div>
                        <div class="text-muted">Disabled Bowlingcentra</div>
                    </div>
                </div>
            </div>
        </a>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" id="accordion">
                    <svg class="glyph stroked bowling-ball-pin"><use xlink:href="#stroked-bowling-ball-pin"></use></svg>
                    {{ status }} Bowlingcentra ({{ paginator.entityCount}})
                        <a href="{{ path('bowling_new') }}" class="btn btn-success pull-right" id="btn-chat">Add new Bowling</a>
            
                </div>
            <div class="panel-body">
                <form class="search input-group" method="post" action="index.html" ng-controller="BowlingCtrl">
                  <input type="search" class="form-control input-md" name="q" placeholder="Search..." autocomplete="off" ng-model="zoekwoord">
                  <ul class="search-ac">
                    <li ng-repeat="bowling in bowlingcentra | filter: zoekwoord | limitTo:5">
                        <a ng-href="./{{ '{{bowling.id}}' }}">
                            {{ '{{ bowling.name }}' }}
                            <div ng-if="bowling.status == 'pending'" class="label label-warning">Pending</div>
                            <div ng-if="bowling.status == 'active'" class="label label-success">Active</div>
                            <div ng-if="bowling.status == 'disabled'" class="label label-danger">Disabled</div><br>
                            <span>{{ '{{ bowling.city }}' }}, {{ '{{ bowling.country }}' }}</span>
                        </a>
                    </li>

                  </ul>
                </form>
            </div>

                        
                    <div class="panel-body">

                        <div class="row">
                        {% for bowling in bowlingcentra %}
                            <a href="{{ url('bowling_show', { 'id': bowling.id }) }}" class="col-xs-12 col-md-6 col-lg-4 single-bowling">

                                <div class="panel-red panel-widget">
                                    <div class="row no-padding">
                                        <div class="col-sm-4 col-lg-5 col-md-4 widget-left image">
                                            <img src="{{ bowling.filename }}">
                                        </div>
                                        <div class="col-sm-8 col-lg-7 col-md-8 widget-right">
                                            <div class="large">{{ bowling.name }}</div>
                                            <div class="medium">{{ bowling.city }}</div>
                                            <div class="small">{{ bowling.games | length }} Games played</div>
                                            {% if bowling.status == 'pending' %}
                                            <div class="label label-warning">Pending</div>
                                            {% endif %}

                                            {% if bowling.status == 'active' %}
                                            <div class="label label-success">Active</div>
                                            {% endif %}

                                            {% if bowling.status == 'disabled' %}
                                            <div class="label label-danger">Disabled</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                            
                        {% endfor %}

                    </div>
                        
    <div id="pagination">
        {% if paginator.totalPages > 1 %}
            </ul>
            <ul class="pagination pagination-sm col-sm-12">
                {# `«` arrow  #}
                <li {{ paginator.currentPage == 1 ? 'class="disabled"' }}>
                    <a href="{{ path('bowlingcentra', {"page": paginator.currentPage-1 < 1 ? 1 : paginator.currentPage-1 } ) }}">«</a>
                </li>

                {# Render each page number #}
                {% for i in 1..paginator.totalPages %}
                    <li {{ paginator.currentPage == i ? 'class="active"' }}>
                        <a href="{{ path('bowlingcentra', {"page": i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {# `»` arrow #}
                <li {{ paginator.currentPage == paginator.totalPages ? 'class="disabled"' }}>
                    <a href="{{ path('bowlingcentra', {"page": paginator.currentPage +1 <= paginator.totalPages ? paginator.currentPage+1 : paginator.currentPage}) }}">»</a>
                </li>
            </ul>
        {% endif %}
    </div>

                </div>
            </div><!--/.col-->

        </div><!--/.row-->
    </div><!--/.row-->
{% endblock %}
