{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Bowlingcentra</li>
            <li class="active">New Bowling</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">New Bowling</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
            
                
            <div class="panel panel-default">
            <div class="panel-heading">
                New Bowling
            </div>
                <div class="panel-body">
                 
                        
    {{ form_start(new_form) }}
    
        
            {{ form_row(new_form.name, {
                'label': 'Name',
                'label_attr': {'class': 'control-label'},
                'attr': {'class': 'form-control input-md'}
            }) }}
            
            {{ form_row(new_form.filename, {
                'label': 'Filename',
                'label_attr': {'class': 'control-label'},
                'attr': {'class': 'form-control input-md'}
            }) }}
            
            {{ form_row(new_form.status, {
                'label': 'Status',
                'label_attr': {'class': 'control-label'},
                'attr': {'class': 'form-control input-md'}
            }) }}
 
            {{ form_row(new_form.lat, {
                'label': 'Lat',
                'label_attr': {'class': 'control-label'},
                'attr': {'class': 'form-control input-md'}
            }) }}
            
            {{ form_row(new_form.lng, {
                'label': 'Lng',
                'label_attr': {'class': 'control-label'},
                'attr': {'class': 'form-control input-md'}
            }) }}
        
            {{ form_row(new_form.postalcode, {
                'label': 'Postalcode',
                'label_attr': {'class': 'control-label'},
                'attr': {'class': 'form-control input-md'}
            }) }}
            
            {{ form_row(new_form.city, {
                'label': 'City',
                'label_attr': {'class': 'control-label'},
                'attr': {'class': 'form-control input-md'}
            }) }}
  
            {{ form_row(new_form.country, {
                'label': 'Country',
                'label_attr': {'class': 'control-label'},
                'attr': {'class': 'form-control input-md'}
            }) }}
            
            <hr>
            
        <button type="submit" class="btn btn-primary-outline">Register</button>
      <a href="{{ path('bowlingcentra') }}" class="btn btn-default btn-md">Back</a>
    {{ form_end(new_form) }}

      
               </div>
            </div>


        </div><!--/.col-->

    </div><!--/.row-->
{% endblock %}
