{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Bowlingcentra</li>
            <li class="active">{{ entity.name }}</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ entity.name }}</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
            
            {% if (entity.status != 'active') %}


                 {{ form_start(undelete_form) }}
                 {{ form_widget(undelete_form.submit) }}
                 {{ form_end(undelete_form) }}
            {% else %}
                {#Wannneer locked of pending #}
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form.submit) }}
                {{ form_end(delete_form) }}

            {% endif %}
                
            <div class="panel panel-default">
            <div class="panel-heading">
                Current status:
                {% if entity.status == 'pending' %}
                <span class="label label-warning">Pending</span>
                {% endif %}
                
                {% if entity.status == 'active' %}
                <span class="label label-success">Active</span>
                {% endif %}
                
                {% if entity.status == 'disabled' %}
                <span class="label label-danger">Disabled</span>
                {% endif %}

                | Created at {{ entity.createdAt|date }}
                | <a href="{{ url('bowling_edit', { 'id': entity.id }) }}" class="pull-right"><i class="fa fa-pencil-square-o"></i> Edit this</a>
            </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post">
                        
                        <!-- Name input-->
                        <div class="form-group">
                            <div class="col-md-6">
                            <p>Name:</p>
                                <div class="well well-sm">
                                {{ entity.name }}
                                 </div>
                            </div>
                        </div>

                        <!-- Adress, City input-->
                        <div class="form-group">
                            <div class="col-md-6">
                            <p>Adress:</p>
                                <div class="well well-sm">
                                 Fake adress
                                 </div>
                            </div>
                            <div class="col-md-6">
                            <p>City:</p>
                                <div class="well well-sm">
                                 {{ entity.city }}
                                 </div>
                            </div>
                        </div>

                        <!-- Postcode, Country input-->
                        <div class="form-group">
                            <div class="col-md-6">
                            <p>Postcode:</p>
                                <div class="well well-sm">
                                 {{ entity.postalcode }}
                                 </div>
                            </div>
                            <div class="col-md-6">
                            <p>Country:</p>
                                <div class="well well-sm">
                                 {{ entity.country }}
                                 </div>
                            </div>
                        </div>

                        <!-- Latitude, Longitude input-->
                        <div class="form-group">
                            <div class="col-md-6">
                            <p>Latitude:</p>
                                <div class="well well-sm">
                                 {{ entity.lat }}
                                 </div>
                            </div>
                            <div class="col-md-6">
                            <p>Longitude:</p>
                                <div class="well well-sm">
                                 {{ entity.lng }}
                                 </div>
                            </div>
                        </div>

                        <!-- Latitude, Longitude input-->
                        <div class="form-group">
                            <div class="col-md-12">
                            <p>Map:</p>
                                <div class="well well-sm" id="map"  data-coords="{{ bowlingCoords|json_encode }}">
                           
                                 </div>
                            </div>
                        </div>
      
                    </form>
               </div>
            </div>


        </div><!--/.col-->

    </div><!--/.row-->
{% endblock %}
