{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active"><a href="{{ url('series') }}">Series</a></li>
            <li class="active"><a href="{{ url('serie_show', { 'id': entity.id }) }}">{{ entity.name }}</a></li>
            <li class="active">edit</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ entity.name }}</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
            
                
        <div class="panel panel-default">
            <div class="panel-heading">
                Created at {{ entity.createdAt|date }} by <a href="{{ url('users_show', { 'id': entity.user.id }) }}">{{ entity.user.username }}</a>
            </div>
                <div class="panel-body">

        {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.name, {
        'label': 'Name',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}

    {{ form_row(edit_form.pattern, {
        'label': 'Pattern',
        'label_attr': {'class': 'control-label'},
        'attr': {'class': 'form-control input-md'}
    }) }}
    
    <hr>
{{ form_widget(edit_form.save, {
'label': 'Save',
'attr': {'class': 'btn btn-default btn-md'}
 }) }}
 <a href="{{ path('admin') }}" class="btn btn-default btn-md">Back</a>
{{ form_end(edit_form) }}            

                  
       


               </div>
            </div>


        </div><!--/.col-->

    </div><!--/.row-->
{% endblock %}
