{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Serie:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Games</li>
        </ol>
    </div><!--/.row-->
   
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                All Games
            </h1>
        </div>
    </div><!--/.row-->
    
        <div class="row">
        <a href="{{ path('series', { type: 5}) }}" class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-teal panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph signia factory"><use xlink:href="#signia-factory"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ all | length }}</div>
                        <div class="text-muted">All Games</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('series', { type: 1}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                     <svg class="glyph signia bowling"><use xlink:href="#signia-bowling"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ openBowling | length }}</div>
                        <div class="text-muted">Open Bowling Games</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('series', { type: 2}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph signia bar-chart"><use xlink:href="#signia-bar-chart"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                       <div class="large">{{ scoreTraining | length }}</div>
                        <div class="text-muted">Score Training Games</div>
                    </div>
                </div>
            </div>
        </a>
                        
        <a href="{{ path('series', { type: 3}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                    <svg class="glyph signia branched-square-flow-chart"><use xlink:href="#signia-branched-square-flow-chart"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                       <div class="large">{{ league | length }}</div>
                        <div class="text-muted">League Games</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('series', { type: 4}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                  <svg class="glyph stroked trophy"><use xlink:href="#stroked-trophy"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ tournament | length }}</div>
                        <div class="text-muted">Tournament Games</div>
                    </div>
                </div>
            </div>
        </a>
    </div><!--/.row-->
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" id="accordion">
                    <svg class="glyph stroked bowling-ball-pin"><use xlink:href="#stroked-bowling-ball-pin"></use></svg>
                    All Games
                </div>
                    <div class="panel-body">

                        {% for game in games %}
                            <div class="col-xs-12 col-md-6 col-lg-4 single-serie">

                                <div class="row">
                                    <div class="col-sm-12 col-lg-12 col-md-12">
                                        <section class="pull-left">
                                        
                                            <a href="{{ url('gamefront_show', { 'id': game.id }) }}" class="large">
                                                {{ game.total }}

                                            </a>
                                            <div class="medium">by: {{ game.serie.user.firstName }} {{ game.serie.user.lastName }}</div>
                                            <div class="medium">{{ game.serie.bowling.name }}</div>

                                            <div class="small">{{ game.createdAt|date }}</div>

                                        </section>    
                                    </div>
                                </div>
                            </div>
                            
                        {% endfor %}

                </div>
            </div><!--/.col-->

        <div id="pagination">
            {% if paginator.totalPages > 1 %}
                </ul>
                <ul class="pagination pagination-sm col-sm-12">
                    {# `«` arrow  #}
                    <li {{ paginator.currentPage == 1 ? 'class="disabled"' }}>
                        <a href="{{ path('games', { "page": paginator.currentPage-1 < 1 ? 1 : paginator.currentPage-1, "type" :  type } ) }}">«</a>
                    </li>

                    {# Render each page number #}
                    {% for i in 1..paginator.totalPages %}
                        <li {{ paginator.currentPage == i ? 'class="active"' }}>
                            <a href="{{ path('games', { "page": i, "type" :  type}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {# `»` arrow #}
                    <li {{ paginator.currentPage == paginator.totalPages ? 'class="disabled"' }}>
                        <a href="{{ path('games', { "page": paginator.currentPage +1 <= paginator.totalPages ? paginator.currentPage+1 : paginator.currentPage, "type" :  type}) }}">»</a>
                    </li>
                </ul>
            {% endif %}
        </div>
            
        </div><!--/.row-->
    </div>
{% endblock %}
