{% extends "::base.html.twig" %}

{% block title %}Bowlee{% endblock %}

{%- block body %}

    <div class="ranking user">
        <div class="row">
            <div class="col-12">
                <div class="row">
                <section class="highscores col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1 class="title">Recent Games</h1> 
          
                    {% if games is empty %}
                        <div class="empty">
                            <div class="alert alert-info" role="alert">
                                <strong>You </strong> currently have no <strong>

                                </strong> games registered.
                            </div>
                        </div>
                    {%endif%}
                    
                    {% for game in games %}
                    <a href="{{ path('gamefront_show', {id: game.id}) }}" class="serie max">
                        <div class="circle-score small">{{ game.total }}</div>
                            <h1>{{ game.serie.name }}</h1>
                        <div class="game-data">
                            <ul>
                                <li>{{ game.bowling.name }}</li>
                                <li><span>{{ game.createdAt|date('j M Y H:i') }}</span></li>
                            </ul>
                        <i class="fa fa-angle-right next" aria-hidden="true"></i>
                        </div>
                    </a>
                    {% endfor %}

                </section>
            
            <section class="highscores col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h1 class="title">Recent Series</h1> 
          
                    {% if series is empty %}
                        <div class="empty">
                            <div class="alert alert-info" role="alert">
                                <strong>You </strong> currently have no <strong>

                                </strong> series registered.
                            </div>
                        </div>
                    {%endif%}
                
                {% for serie in series %}
                    <a href="{{ path('seriefront_show', { id: serie.id })}}" class="serie max">
                        <div class="circle-score big">
                            {% if serie.games|length > 0 %}
                                {% set total = 0%}
                                {% for game in serie.games %}
                                    {%set total = total + game.total %}                                
                                {% endfor %}
                                    {{ total }}
                                {%else%}
                                    0
                            {% endif %}
                        </div>
                            <h1>{{ serie.name }} #{{ serie.id }}</h1>
                        <div class="game-data">
                            <ul>
                                <li>
                                {% if serie.games|length > 0 %}
                                    {% for game in serie.games %}
                                        {{ game.total}}
                                    {%if not loop.last%},{%endif%}
                                    {% endfor %}
                                {%else%}
                                    No games registered
                                {% endif %}
                                </li>
                                <li>{{ serie.bowling.name }}</li>
                                <li>{{ serie.games|length }} Games <span>- {{ serie.createdAt|date('j M Y H:i') }}</span></li>
                            </ul>
                        <i class="fa fa-angle-right next" aria-hidden="true"></i>
                        </div>
                    </a>

                {% endfor %}

                
            </section>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
