{% extends "::base.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="{{ path('seriefront_show', { id: entity.serie.id })}}">{{ entity.serie.name }}</a></li>
            <li><a href="{{ path('gamefront_show', { id: entity.id })}}">Game #{{ entity.id }}</a></li>
            <li><a href="">Edit</a></li>
        </ul>
    </div> 

    <span class="page-title">
        <h1>Game edit</h1>
    </span>



    {{ form_start(edit_form) }}
    
        {{ form_errors(edit_form) }}

        {{ form_row(edit_form.lane, {
            'label': 'Lane',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control input-md'}
        }) }}
        
        {{ form_row(edit_form.note, {
            'label': 'Note',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control input-md'}
        }) }}
        
        {{ form_row(edit_form.ball, {
            'label': 'Ball',
            'label_attr': {'class': 'control-label'},
            'attr': {'class': 'form-control input-md'}
        }) }}
        
    <hr class="fancy-hr">
 
<button id="submit" type="submit" class="btn btn-create btn-primary-outline">Update </button>
{{ form_end(edit_form) }}            


{% endblock %}
