{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Serie:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Games</li>
        </ol>
    </div><!--/.row-->
   
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" id="accordion">
                    <svg class="glyph stroked bowling-ball-pin"><use xlink:href="#stroked-bowling-ball-pin"></use></svg>
                    All Games
                </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-md" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-success btn-md" id="btn-chat">Search</button>
                            </span>
                        </div>
                        
                        <hr>

                        {% for game in games %}
                            <div class="col-xs-12 col-md-6 col-lg-4 single-serie">

                                <div class="row">
                                    <div class="col-sm-12 col-lg-12 col-md-12">
                                        <section class="pull-left">
                                        
                                            <a href="{{ url('game_show', { 'id': game.id }) }}" class="large">
                                                {{ game.total }}

                                            </a>
                                            <div class="medium">by: {{ game.serie.user.firstName }} {{ game.serie.user.lastName }}</div>
                                            <div class="medium">{{ game.serie.bowling.name }}</div>

                                            <div class="small">{{ game.createdAt|date }}</div>

                                        </section>    
                                    </div>
                                </div>
                            </div>
                            
                        {% endfor %}

                </div>
            </div><!--/.col-->

        </div><!--/.row-->
    </div>
{% endblock %}
