{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active"><a href="{{ path('games') }}">Games</a></li>
            <li class="active">Game #{{ entity.id }}</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Game #{{ entity.id }}</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
                
            <div class="panel panel-default">
                <div class="panel-heading">
                    Created at {{ entity.createdAt|date }} by <a href=""></a>
                    <a href="{{ url('serie_edit', { 'id': entity.id }) }}" class="pull-right"><i class="fa fa-pencil-square-o"></i> Edit this</a>
                </div>
                    <div class="panel-body">
                        <form class="form-horizontal" action="" method="post">

                            <!-- Name input-->
                            <div class="form-group">
                                <div class="col-md-6">
                                <p>Name:</p>
                                    <div class="well well-sm">
                                    {{ entity.id }}
                                     </div>
                                </div>
                            </div>

                            <!-- Adress, City input-->
                            <div class="form-group">
                                <div class="col-md-6">
                                <p>Bowling:</p>
                                    <div class="well well-sm">
                                     {{ entity.id }}
                                     </div>
                                </div>
                                <div class="col-md-6">
                                <p>Type:</p>
                                    <div class="well well-sm">
                                     {{ entity.id }}
                                     </div>
                                </div>
                            </div>

                            <!-- Postcode, Country input-->
                            <div class="form-group">
                                <div class="col-md-6">
                                <p>User:</p>
                                    <div class="well well-sm">
                                     {{ serie.games.user.id }}
                                     </div>
                                </div>
                            </div>
                        </form>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Games
                    </div>
                    <div class="panel-body">
                        {{ serie.games.user.firstName }}
                         {{ dump(entity) }}

                   </div>

                </div>
            </div>
{#{ dump(user, serie.type.name) }#}

        </div><!--/.col-->
            <table class="table-header max bbottom">
                    <tr>
                    <td>Lane 31</td>
                    <td>Game {{ entity.id }}</td>
                    <td>{{ entity.createdAt|date }}</td>
                    <td>17:24</td>
                    </tr>
            </table>

            <table class="bowlingscore">
                <thead>
                    {% for frame in serie.games.frames %}
                        <th>{{ frame.id }}</th>
                    {% endfor %}
                    <th class="total">Totaal</th>
                </thead>
                    <tbody>
                        <tr>
                        {% set firstStrike = 0 %}
                        {% set firstSpare = 0 %}
                        {% set firstSplit = 0 %}
                        {% set firstFoul = 0 %}     

                        {% set secondStrike = 0 %}
                        {% set secondSpare = 0 %}
                        {% set secondSplit = 0 %}
                        {% set secondFoul = 0 %}

                        {% set thirdStrike = 0 %}
                        {% set thirdSpare = 0 %}
                        {% set thirdSplit = 0 %}
                        {% set thirdFoul = 0 %}
                        
                        {% for frame in serie.games.frames %} 

                            {# Hier init we de variablen #}
                            {% set countFirst = 0 %}
                            {% set countSecond = 0 %}
                            {% set countThird = 0 %}

                                {#{ dump(frame) }#}
                                <br>
                                <strong>Beurt:</strong>{{ loop.index }}
                                <br>
                                {% for fling in frame.fling %}

                                   {% if fling|length >= 1 %}
                                        {% if fling.worp == 1 %}
                                            
                                            {% for pins in fling.pins %}

                                                {% if pins %}
                                                    <li class="circle hit"></li>
                                                    {% set countFirst = countFirst + 1 %}
                                                {% else %}
                                                    <li class="circle"></li>
                                                {% endif %}
                                               
                                            {% endfor %}

                                                {% if fling.extra.isSplit %}
                                                    {% set firstSplit = 1 %}
                                                {% endif %}
                                                
                                                {% if fling.extra.isFoul %}
                                                    {% set firstFoul = 1 %}
                                                {% endif %}
                                                
                                                {% if fling.extra.isSpare %}
                                                    {% set firstSpare = 1 %}
                                                {% endif %}
                                                
                                                {% if fling.extra.isStrike %}
                                                    {% set firstStrike = 1 %}
                                                {% endif %}


                                             {{ countFirst }}
                                            {#% for pins in fling.pins %}
                                                {{ dump(pins) }}
                                                {% if pins == true %}
                                                    {% set countFirst = countFirst + 1 %}
                                               {% endif %}
                                            {% endfor %#}
                                        {% endif %}
                                        
                                        {% if fling.worp == 2 %}
                                            
                                            {# Hier init we de variablen #}
                                            {% set countSecond = 0 %}
                                            
                                            <br>
                                            Worp:{{ loop.index }}
                                            <br>
                                            {% for pins in fling.pins %}

                                                {% if pins %}
                                                    <li class="circle hit"></li>
                                                    {% set countSecond = countSecond + 1 %}
                                                {% else %}
                                                    <li class="circle"></li>
                                                {% endif %}
                                               
                                            {% endfor %}
                                            
                                                {% if fling.extra.isSplit %}
                                                    {% set secondSplit = 1 %}
                                                {% endif %}
                                                
                                                {% if fling.extra.isFoul %}
                                                    {% set secondFoul = 1 %}
                                                {% endif %}
                                                
                                                {% if fling.extra.isSpare %}
                                                    {% set secondSpare = 1 %}
                                                {% endif %}
                                                
                                                {% if fling.extra.isStrike %}
                                                    {% set secondStrike = 1 %}
                                                {% endif %}
                                                
                                             {{ countSecond }}
                                            {#% for pins in fling.pins %}
                                                {{ dump(pins) }}
                                                {% if pins == true %}
                                                    {% set countFirst = countFirst + 1 %}
                                               {% endif %}
                                            {% endfor %#}
                                        {% endif %}
                                        
                                        {% if fling.worp == 3 %}
                                            
                                                                                        
                                            {# Hier init we de variablen #}
                                            {% set countThird = 0 %}
                                            
                                            
                                            <br>
                                            Worp:{{ loop.index }}
                                            <br>
                                            {% for pins in fling.pins %}

                                                {% if pins %}
                                                    <li class="circle hit"></li>
                                                    {% set countThird = countThird + 1 %}
                                                {% else %}
                                                    <li class="circle"></li>
                                                {% endif %}
                                               
                                            {% endfor %}
                                            
                                                {% if fling.extra.isSplit %}
                                                    {% set thirdSplit = 1 %}
                                                {% endif %}
                                                
                                                {% if fling.extra.isFoul %}
                                                    {% set thirdFoul = 1 %}
                                                {% endif %}
                                                
                                                {% if fling.extra.isSpare %}
                                                    {% set thirdSpare = 1 %}
                                                {% endif %}
                                                
                                                {% if fling.extra.isStrike %}
                                                    {% set thirdStrike = 1 %}
                                                {% endif %}
                                                
                                             {{ countThird }}
                                            {#% for pins in fling.pins %}
                                                {{ dump(pins) }}
                                                {% if pins == true %}
                                                    {% set countFirst = countFirst + 1 %}
                                               {% endif %}
                                            {% endfor %#}
                                        {% endif %}
                                       
                                    {% endif %} 
                                        
                                {% endfor %}
                                <br>
                                Score: 
                                
                                {# Als eerste worp een Strike is #}
                                {% if firstStrike %}
                                    X
                                    
                                    {# Als tweede worp een Strike is #}
                                    {% if secondStrike %}
                                        X
                                    {% else %} {# Als tweede worp GEEN strike is #}
                                        {{ countSecond }}
                                    {% endif %}
                                    
                                    {# Als derde worp een Strike is #}
                                    {% if thirdStrike %}
                                            X
                                    {% else %} {# Als derde worp GEEN strike is #}
                                        {% if thirdSpare %}
                                            /
                                        {% else %}
                                            {{ countThird }}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {{ countFirst }}
                                    
                                     {% if secondSpare %}
                                         /
                                     {% else%}
                                        {% if countSecond == 0 %}
                                            -
                                        {% else %}
                                          {{ countSecond }}
                                        {% endif %} 
                                     {% endif %} 

                                {% endif %}

                                {% if thirdStrike %}
                                    X
                                {% else %} {# Als derde worp GEEN strike is #}
                                    {% if thirdSpare %}
                                        /
                                    {% else %}
                                        {% if countThird == 0 %}
                                            -
                                        {% else %}
                                            {{ countThird }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                <br>
                                Strike: {{ firstStrike }}
                                Spare: {{ firstSpare }}
                                Split: {{ firstSplit }}
                                Foul: {{ firstFoul }}
                                <br>

                                {#% if first.pins|length >= 1 %}
                                    {% for pins in first.pins %}    
                                       {% if pins == 1 %}
                                           {% set countFirst = countFirst + 1 %}
                                       {% endif %}  
                                   {% endfor %}
                                {% endif %#} 
                            
                            
                        {% endfor %}
                            <td><span class="first">1</span><span class="second">/</span></td>
                            <td><span class="first">2</span><span class="second">/</span></td>
                            <td><span class="first">3</span><span class="second">/</span></td>
                            <td><span class="first">4</span><span class="second">/</span></td>
                            <td><span class="first">5</span><span class="second">/</span></td>
                            <td><span class="first">6</span><span class="second">/</span></td>
                            <td><span class="first">7</span><span class="second">/</span></td>
                            <td><span class="first">8</span><span class="second">/</span></td>
                            <td><span class="first">9</span><span class="second">/</span></td>
                            <td class="last"><span class="first">X</span><span class="second">X</span><span class="third">X</span></td>	
                            <td></td>
                        </tr>
                        <tr>
                            {% for frame in serie.games.frames %}
                                <td class="text-center">{{ frame.total }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                        </tr>
                        {% for frame in serie.games.frames %}
                        <td class="text-center">
                            <ul class="score_pins">
                                       
                            {% for fling in frame.fling %}
                                 
                                {% if fling|length >= 1 %}
                                      
                                    {% if fling.worp == 1 %}

                                        Beurt:{{ loop.index }}
                                        <hr>
                                        {% for pins in fling.pins %}
                                           
                                        {% if pins %}
                                            <li class="circle hit"></li>
                                        {% else %}
                                            <li class="circle"></li>
                                        {% endif %}
                                        

                                           
                                           
                                        {% endfor %}

                                    {% endif %}

                                {% endif %}
                                 
                                 

                            {% endfor %}

                        </td>

                        {% endfor %}

                            </tr>
                    </tbody>
            </table>

            <table class="table-header max resume">
                    <tr>
                            <td>Game</td>
                            <td>Strikes</td>
                            <td>Spares</td>
                            <td>Splits</td>
                            <td>Split Conversions</td>
                            <td>Gutter</td>
                            <td>Gemiddelde</td>
                    </tr>
                    <tr>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>300</td>
                    </tr>
            </table>
    </div>
    </div>
{% endblock %}
