{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active"><a href="{{ path('games') }}">Games</a></li>
            <li class="active">Game #{{ entity.id }}</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Game #{{ entity.id }}</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
                
            <div class="panel panel-default">
                <div class="panel-heading">
                    Created at {{ entity.createdAt|date }} by <a href=""></a>
                    <a href="{{ url('serie_edit', { 'id': entity.id }) }}" class="pull-right"><i class="fa fa-pencil-square-o"></i> Edit this</a>
                </div>
                    <div class="panel-body">
                        <form class="form-horizontal" action="" method="post">

                            <!-- Name input-->
                            <div class="form-group">
                                <div class="col-md-6">
                                <p>Name:</p>
                                    <div class="well well-sm">
                                    {{ entity.id }}
                                     </div>
                                </div>
                            </div>

                            <!-- Adress, City input-->
                            <div class="form-group">
                                <div class="col-md-6">
                                <p>Bowling:</p>
                                    <div class="well well-sm">
                                     {{ entity.id }}
                                     </div>
                                </div>
                                <div class="col-md-6">
                                <p>Type:</p>
                                    <div class="well well-sm">
                                     {{ entity.id }}
                                     </div>
                                </div>
                            </div>

                            <!-- Postcode, Country input-->
                            <div class="form-group">
                                <div class="col-md-6">
                                <p>User:</p>
                                    <div class="well well-sm">
                                     {{ entity.user }} {{ entity.user }}
                                     </div>
                                </div>
                            </div>
                        </form>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Games
                    </div>
                    <div class="panel-body">
                        {{ entity.serie.user.firstName }}
                         {{ dump(entity) }}

                   </div>

                </div>
            </div>
{{ dump( test, user, testserie.type.name) }}

        </div><!--/.col-->
            <table class="table-header max bbottom">
                    <tr>
                    <td>Lane 31</td>
                    <td>Game {{ entity.id }}</td>
                    <td>{{ entity.createdAt|date }}</td>
                    <td>17:24</td>
                    </tr>
            </table>

            <table class="bowlingscore">
                <thead>
                    {% for frame in entity.frames %}
                        <th>{{ frame.id }}</th>
                    {% endfor %}
                    <th class="total">Totaal</th>
                </thead>
                    <tbody>
                        <tr>
                        {% for frame in entity.frames %} 
                                 
                            {# Hier init we de variablen #}
                            {% set countFirst = 0 %}
                            {% set countSecond = 0 %}
                            {% set countThird = 0 %}
                            {% set first = ['pins', 'extra'] %}
                            {% set second = ['pins', 'extra'] %}
                            {% set third = ['pins', 'extra'] %}
                            
                            {% for fling in frame.fling %}

                                {#{ dump(fling.worp) }#}
                                
                                {% if fling.worp == 1 %}
                                    
                                    {# Hier setten we de eerste worp #}
                                    {% set first = {
                                        'pins': {
                                            'one': fling.one,
                                            'two': fling.two,
                                            'three': fling.three,
                                            'four': fling.four,
                                            'five': fling.five,
                                            'six': fling.six,
                                            'seven': fling.seven,
                                            'eight': fling.eight,
                                            'nine': fling.nine,
                                            'ten': fling.ten
                                        },
                                        'extra':{
                                            'isSplit': fling.isSplit,
                                            'isFoul': fling.isFoul,
                                            'isSpare': fling.isSpare,
                                            'isStrike': fling.isStrike
                                        }
                                    } %}  
                                    
                                  {% if first.pins|length >= 1 %}
                                    {% for pins in first.pins %}    
                                       {% if pins == 1 %}
                                           {% set countFirst = countFirst + 1 %}
                                       {% endif %}  
                                   {% endfor %}
                                {% endif %}  
                                
                                 {% endif %}
                                 
                                
                                Game: {{ entity.id }}, Frame {{ frame.id }}, worp: {{ fling.worp }}, {{ countFirst }} punten<br>
                                 
                                {% if fling.worp == 2 %}
                                    
                                    {# Hier setten we de tweede worp #}
                                    {% set second = {
                                        'pins': {
                                            'one': fling.one,
                                            'two': fling.two,
                                            'three': fling.three,
                                            'four': fling.four,
                                            'five': fling.five,
                                            'six': fling.six,
                                            'seven': fling.seven,
                                            'eight': fling.eight,
                                            'nine': fling.nine,
                                            'ten': fling.ten
                                        },
                                        'extra':{
                                            'isSplit': fling.isSplit,
                                            'isFoul': fling.isFoul,
                                            'isSpare': fling.isSpare,
                                            'isStrike': fling.isStrike
                                        }
                                    } %}  
                                    
                                    
                                    {% if second.pins|length >= 1 %}
                                        {% for pins in second.pins %}    
                                           {% if pins == 1 %}
                                               {% set countSecond = countSecond + 1 %}
                                           {% endif %}  
                                       {% endfor %}
                                    {% endif %}
                                
                                 {% endif %}
                                 
                                 
                                 

                                
                                {% if fling.worp == 3 %}
                                    
                                    {# Hier setten we de derde worp #}
                                    {% set third = {
                                        'pins': {
                                            'one': fling.one,
                                            'two': fling.two,
                                            'three': fling.three,
                                            'four': fling.four,
                                            'five': fling.five,
                                            'six': fling.six,
                                            'seven': fling.seven,
                                            'eight': fling.eight,
                                            'nine': fling.nine,
                                            'ten': fling.ten
                                        },
                                        'extra':{
                                            'isSplit': fling.isSplit,
                                            'isFoul': fling.isFoul,
                                            'isSpare': fling.isSpare,
                                            'isStrike': fling.isStrike
                                        }
                                    } %}                           
                                 {% endif %}
                                 
                                
                               
                        {#{ dump(first,second) }#}

                        
                                    
                                
                                {% set count = 0 %}
                            {% endfor %}

                            {% endfor %}
                            <td><span class="first">1</span><span class="second">/</span></td>
                            <td><span class="first">2</span><span class="second">/</span></td>
                            <td><span class="first">3</span><span class="second">/</span></td>
                            <td><span class="first">4</span><span class="second">/</span></td>
                            <td><span class="first">5</span><span class="second">/</span></td>
                            <td><span class="first">6</span><span class="second">/</span></td>
                            <td><span class="first">7</span><span class="second">/</span></td>
                            <td><span class="first">8</span><span class="second">/</span></td>
                            <td><span class="first">9</span><span class="second">/</span></td>
                            <td class="last"><span class="first">X</span><span class="second">X</span><span class="third">X</span></td>	
                            <td></td>
                        </tr>
                        <tr>
                            {% for frame in entity.frames %}
                                <td class="text-center">{{ frame.total }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                        </tr>
                        {% for frame in entity.frames %}
                        <td class="text-center">
                            <ul class="score_pins">
                               
                            {% set firstOne = "" %}
                            {% set firstTwo = "" %}
                            {% set firstThree = "" %}
                            {% set firstFour = "" %}
                            {% set firstFive = "" %}
                            {% set firstSix = "" %}
                            {% set firstSeven = "" %}
                            {% set firstEight = "" %}
                            {% set firstNine = "" %}
                            {% set firstTen = "" %}                                   
                            {% set firstIsSplit = "" %}
                            {% set firstIsFoul = "" %}
                            {% set firstIsStrike = "" %}
                            
                            {% set secondOne = "" %}
                            {% set secondTwo = "" %}
                            {% set secondThree = "" %}
                            {% set secondFour = "" %}
                            {% set secondFive = "" %}
                            {% set secondSix = "" %}
                            {% set secondSeven = "" %}
                            {% set secondEight = "" %}
                            {% set secondNine = "" %}
                            {% set secondTen = "" %}                                   
                            {% set secongIsSplit = "" %}
                            {% set secondIsFoul = "" %}
                            {% set secondIsStrike = "" %} 
                            
                            {% set thirdOne = "" %}
                            {% set thirdTwo = "" %}
                            {% set thirdThree = "" %}
                            {% set thirdFour = "" %}
                            {% set thirdFive = "" %}
                            {% set thirdSix = "" %}
                            {% set thirdSeven = "" %}
                            {% set thirdEight = "" %}
                            {% set thirdNine = "" %}
                            {% set thirdTen = "" %}                                   
                            {% set secongIsSplit = "" %}
                            {% set thirdIsFoul = "" %}
                            {% set thirdIsStrike = "" %} 
                                    
                            {% for fling in frame.fling %}
                                 
                                {% if fling.worp == 1 %}
                                    {% set firstOne = fling.one %}
                                    {% set firstTwo = fling.two %}
                                    {% set firstThree = fling.three %}
                                    {% set firstFour = fling.four %}
                                    {% set firstFive = fling.five %}
                                    {% set firstSix = fling.six %}
                                    {% set firstSeven = fling.seven %}
                                    {% set firstEight = fling.eight %}
                                    {% set firstNine = fling.nine %}
                                    {% set firstTen = fling.ten %}                                   
                                    {% set firstIsSplit = fling.isSplit %}
                                    {% set firstIsFoul = fling.isFoul %}
                                    {% set firstIsStrike = fling.isStrike %}                              
                                 {% endif %}
                                 
                                {% if fling.worp == 2 %}
                                    {% set secondOne = fling.one %}
                                    {% set secondTwo = fling.two %}
                                    {% set secondThree = fling.three %}
                                    {% set secondFour = fling.four %}
                                    {% set secondFive = fling.five %}
                                    {% set secondSix = fling.six %}
                                    {% set secondSeven = fling.seven %}
                                    {% set secondEight = fling.eight %}
                                    {% set secondNine = fling.nine %}
                                    {% set secondTen = fling.ten %}                                   
                                    {% set secongIsSplit = fling.isSplit %}
                                    {% set secondIsFoul = fling.isFoul %}
                                    {% set secondIsStrike = fling.isStrike %}                             
                                 {% endif %}
                                 
                                {% if fling.worp == 3 %}
                                    {% set thirdOne = fling.one %}
                                    {% set thirdTwo = fling.two %}
                                    {% set thirdThree = fling.three %}
                                    {% set thirdFour = fling.four %}
                                    {% set thirdFive = fling.five %}
                                    {% set thirdSix = fling.six %}
                                    {% set thirdSeven = fling.seven %}
                                    {% set thirdEight = fling.eight %}
                                    {% set thirdNine = fling.nine %}
                                    {% set thirdTen = fling.ten %}                                   
                                    {% set secongIsSplit = fling.isSplit %}
                                    {% set thirdIsFoul = fling.isFoul %}
                                    {% set thirdIsStrike = fling.isStrike %}                            
                                 {% endif %}
                                 

                            {% endfor %}

                                <li class="fourth_row">
                                    <ul>
                                        
                                    {# Pin #10 #}
                                    {% if firstTen or secondTen == 1%}
                                        <li class="circle hit"></li>
                                    {% else%}
                                        <li class="circle"></li>
                                    {% endif%}
                                    
                                    {# Pin #9 #}
                                    {% if firstNine or secondNine == 1%}
                                        <li class="circle hit"></li>
                                    {% else%}
                                        <li class="circle"></li>
                                    {% endif%}
                                    
                                    {# Pin #8 #}
                                    {% if firstEight or secondEight == 1%}
                                        <li class="circle hit"></li>
                                    {% else%}
                                        <li class="circle"></li>
                                    {% endif%}
                                    
                                    {# Pin #7 #}
                                    {% if firstSeven or secondSeven == 1%}
                                        <li class="circle hit"></li>
                                    {% else%}
                                        <li class="circle"></li>
                                    {% endif%}
                                    </ul>
                                </li>
                                <li class="third_row">
                                    <ul>
                                    {# Pin #6 #}
                                    {% if firstSix or secondSix == 1%}
                                        <li class="circle hit"></li>
                                    {% else%}
                                        <li class="circle"></li>
                                    {% endif%}
                                    
                                    {# Pin #5 #}
                                    {% if firstFive or secondFive == 1%}
                                        <li class="circle hit"></li>
                                    {% else%}
                                        <li class="circle"></li>
                                    {% endif%}
                                    
                                    {# Pin #4 #}
                                    {% if firstFour or secondFour == 1%}
                                        <li class="circle hit"></li>
                                    {% else%}
                                        <li class="circle"></li>
                                    {% endif%}
                                    </ul>
                                </li>
                                <li class="second_row">
                                    <ul>
                                    {# Pin #3 #}
                                    {% if firstThree or secondThree == 1%}
                                        <li class="circle hit"></li>
                                    {% else%}
                                        <li class="circle"></li>
                                    {% endif%}
                                    
                                    {# Pin #2 #}
                                    {% if firstTwo or secondTwo == 1%}
                                        <li class="circle hit"></li>
                                    {% else%}
                                        <li class="circle"></li>
                                    {% endif%}
                                    </ul>
                                </li>
                                <li class="first_row">
                                    <ul>
                                    {# Pin #1 #}
                                    {% if firstOne or secondOne == 1%}
                                        <li class="circle hit"></li>
                                    {% else%}
                                        <li class="circle"></li>
                                    {% endif%}
                                    </ul>
                                </li>
                            </ul>
                        </td>

                        {% endfor %}

                            </tr>
                    </tbody>
            </table>

            <table class="table-header max resume">
                    <tr>
                            <td>Game</td>
                            <td>Strikes</td>
                            <td>Spares</td>
                            <td>Splits</td>
                            <td>Split Conversions</td>
                            <td>Gutter</td>
                            <td>Gemiddelde</td>
                    </tr>
                    <tr>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>300</td>
                    </tr>
            </table>
    </div>
    </div>
{% endblock %}
