{% extends "::base.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            <li><a href="{{ path('bowlingfront')}}">{{ entity.serie.name }}</a></li>
            <li><a href="{{ path('bowlingfront')}}">Game #{{ entity.id }}</a></li>
        </ul>
    </div>
        
   <section class="game-user">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="row">
          
                <a href="{{ url('usersfront_show', { 'id': entity.user.id }) }}"><img src="{{ entity.user.imagePath }}" class="pull-left"></a>
        
                <div class="none">
                    <h1><a href="{{ url('usersfront_show', { 'id': entity.user.id }) }}">{{ entity.user.firstName }} {{ entity.user.lastName }}</a></h1>
                    <p class=""><i class="fa fa-map-marker" aria-hidden="true"></i> {{ entity.serie.bowling.name }}, {{ entity.serie.bowling.city }}</p>
                    <p class="">
                        {{ entity.type.id == '1' ? '<i class="fa fa-random" aria-hidden="true"></i>' }}
                        {{ entity.type.id == '2' ? '<i class="fa fa-bar-chart" aria-hidden="true"></i>' }}
                        {{ entity.type.id == '3' ? '<i class="fa fa-cubes" aria-hidden="true"></i>' }}
                        {{ entity.type.id == '4' ? '<i class="fa fa-map-marker" aria-hidden="true"></i>' }} 
                        {{ entity.type.name }}
                    </p>
                    <p class=""><i class="fa fa-trophy" aria-hidden="true"></i> {{ entity.total }}</p>
                </div>
            </div>
        </div>
    </section>
                {% for frame in entity.frames%}
                    {% for fling in frame.fling%}
                    
                    {%endfor%}
                {%endfor%}
                {# haalt dus de eerste beurt van frame 3 op#}
                {#{ dump(entity.frames[2]) }#}
               
    <section class="score">
    <div class="score-left col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="half">Lane {{ entity.lane }}</div>
            <div class="half">Game {{ entity.id }}</div>
        </div>
        <div class="row">
            {% for i in 1..6 %}
            <div class="frame frame-nr col-xs-2">{{ i }}</div>
            {%endfor%}               
        </div>
        <div class="row">
            {% for frame in entity.frames|slice(0,6) %}
                    {% for fling in frame.fling%} 
                    
                        {%if fling.isStrike %}
                            <div data-frame="frame{{ fling.frame.id }}.fling{{ fling.worp }}" class="frame frame-total strike col-xs-1">X</div>
                            <div data-frame="frame{{ fling.frame.id }}.fling{{ fling.worp }}" class="frame frame-total col-xs-1">X</div>
                        {%else%}
                            <div data-frame="frame{{ fling.frame.id }}.fling{{ fling.worp }}" class="frame frame-total col-xs-1">{{ fling.score }}</div>
                        {%endif%}
                    {%endfor%}
            
            {%endfor%}               
        </div>
        <div class="row">
        {% for frame in entity.frames|slice(0,6) %}
            <div class="frame frame-total col-xs-2">{{ frame.total}}</div>
        {%endfor%}            
        </div>
        <div class="row">
            
            {% set pinOne = 0 %}
            {% set pinTwo = 0 %}
            {% set pinThree = 0 %}
            {% set pinFour = 0 %}
            {% set pinFive = 0 %}
            {% set pinSix = 0 %}
            {% set pinSeven = 0 %}
            {% set pinEight = 0 %}
            {% set pinNine = 0 %}
            {% set pinTen = 0 %}
            
            {% set flingOnePinOne = 0 %}
            {% set flingOnePinTwo = 0 %}
            {% set flingOnePinThree = 0 %}
            {% set flingOnePinFour = 0 %}
            {% set flingOnePinFive = 0 %}
            {% set flingOnePinSix = 0 %}
            {% set flingOnePinSeven = 0 %}
            {% set flingOnePinEight = 0 %}
            {% set flingOnePinNine = 0 %}
            {% set flingOnePinTen = 0 %}

           {% set flingTwoPinOne = 0 %}
           {% set flingTwoPinTwo = 0 %}
           {% set flingTwoPinThree = 0 %}
           {% set flingTwoPinFour = 0 %}
           {% set flingTwoPinFive = 0 %}
           {% set flingTwoPinSix = 0 %}
           {% set flingTwoPinSeven = 0 %}
           {% set flingTwoPinEight = 0 %}
           {% set flingTwoPinNine = 0 %}
           {% set flingTwoPinTen = 0 %}
               
            {% set flingThreePinOne = 0 %}
            {% set flingThreePinTwo = 0 %}
            {% set flingThreePinThree = 0 %}
            {% set flingThreePinFour = 0 %}
            {% set flingThreePinFive = 0 %}
            {% set flingThreePinSix = 0 %}
            {% set flingThreePinSeven = 0 %}
            {% set flingThreePinEight = 0 %}
            {% set flingThreePinNine = 0 %}
            {% set flingThreePinTen = 0 %}
            
            {% set flingTwoPinOneHitted = 0 %}
            {% set flingTwoPinTwoHitted = 0 %}
            {% set flingTwoPinThreeHitted = 0 %}
            {% set flingTwoPinFourHitted = 0 %}
            {% set flingTwoPinFiveHitted = 0 %}
            {% set flingTwoPinSixHitted = 0 %}
            {% set flingTwoPinSevenHitted = 0 %}
            {% set flingTwoPinEightHitted = 0 %}
            {% set flingTwoPinNineHitted = 0 %}
            {% set flingTwoPinTenHitted = 0 %}
            
        {% for frame in entity.frames|slice(0,6) %}
            

                   
            {% for fling in frame.fling%}
           
                {% if fling.worp == 1 %}
                   {% set flingOnePinOne = fling.one %}
                   {% set flingOnePinTwo = fling.two %}
                   {% set flingOnePinThree = fling.three %}
                   {% set flingOnePinFour = fling.four %}
                   {% set flingOnePinFive = fling.five %}
                   {% set flingOnePinSix = fling.six %}
                   {% set flingOnePinSeven = fling.seven %}
                   {% set flingOnePinEight = fling.eight %}
                   {% set flingOnePinNine = fling.nine %}
                   {% set flingOnePinTen = fling.ten %}
                {%endif%}
                {% if fling.worp == 2 %}
                   {% set flingTwoPinOne = fling.one %}
                   {% set flingTwoPinTwo = fling.two %}
                   {% set flingTwoPinThree = fling.three %}
                   {% set flingTwoPinFour = fling.four %}
                   {% set flingTwoPinFive = fling.five %}
                   {% set flingTwoPinSix = fling.six %}
                   {% set flingTwoPinSeven = fling.seven %}
                   {% set flingTwoPinEight = fling.eight %}
                   {% set flingTwoPinNine = fling.nine %}
                   {% set flingTwoPinTen = fling.ten %}
                {%endif%}

                {% if fling.worp == 3 %}
                   {% set flingThreePinOne = fling.one %}
                   {% set flingThreePinTwo = fling.two %}
                   {% set flingThreePinThree = fling.three %}
                   {% set flingThreePinFour = fling.four %}
                   {% set flingThreePinFive = fling.five %}
                   {% set flingThreePinSix = fling.six %}
                   {% set flingThreePinSeven = fling.seven %}
                   {% set flingThreePinEight = fling.eight %}
                   {% set flingThreePinNine = fling.nine %}
                   {% set flingThreePinTen = fling.ten %}
                {%endif%}

            
            {%endfor%}
           
                
            {# Eerste worp #}
            {% if flingOnePinOne or flingTwoPinOne or flingThreePinOne%}
                {% set pinOne = true %}

                {%if flingTwoPinOne%}
                    {%set flingTwoPinOneHitted = true %}
                {%endif%}
            {%endif%}
            
            {# Tweede worp #} 
            {% if flingOnePinTwo or flingTwoPinTwo or flingThreePinTwo%}
                {% set pinTwo = true %}

                {%if flingTwoPinTwo%}
                    {%set flingTwoPinTwoHitted = true %}
                {%endif%}
            {%endif%}
            
            {# Derde worp #} 
            {% if flingOnePinThree or flingTwoPinThree or flingThreePinThree%}
                {% set pinThree = true %}

                {%if flingTwoPinThree%}
                    {%set flingTwoPinThreeHitted = true %}
                {%endif%}
            {%endif%}
            
            {# Vierde worp #} 
            {% if flingOnePinFour or flingTwoPinFour or flingThreePinFour%}
                {% set pinFour = true %}

                {%if flingTwoPinFour%}
                    {%set flingTwoPinFourHitted = true %}
                {%endif%}
            {%endif%}
            
            {# Vijfde worp #} 
            {% if flingOnePinFive or flingTwoPinFive or flingThreePinFive%}
                {% set pinFive = true %}

                {%if flingTwoPinFive%}
                    {%set flingTwoPinFiveHitted = true %}
                {%endif%}
            {%endif%}
            
            {# Zesde worp #} 
            {% if flingOnePinSix or flingTwoPinSix or flingThreePinSix%}
                {% set pinSix = true %}

                {%if flingTwoPinSix%}
                    {%set flingTwoPinSixHitted = true %}
                {%endif%}
            {%endif%}
           
            {# Zevende worp #} 
            {% if flingOnePinSeven or flingTwoPinSeven or flingThreePinSeven%}
                {% set pinSeven = true %}

                {%if flingTwoPinSeven%}
                    {%set flingTwoPinSevenHitted = true %}
                {%endif%}
            {%endif%}

            {# Achtste worp #} 
            {% if flingOnePinEight or flingTwoPinEight or flingThreePinEight%}
                {% set pinEight = true %}

                {%if flingTwoPinEight%}
                    {%set flingTwoPinEightHitted = true %}
                {%endif%}
            {%endif%}

            {# Negende worp #} 
            {% if flingOnePinNine or flingTwoPinNine or flingThreePinNine%}
                {% set pinNine = true %}

                {%if flingTwoPinNine%}
                    {%set flingTwoPinNineHitted = true %}
                {%endif%}
            {%endif%}
            
            {# Tiende worp #} 
            {% if flingOnePinTen or flingTwoPinTen or flingThreePinTen%}
                {% set pinTen = true %}

                {%if flingTwoPinTen%}
                    {%set flingTwoPinTenHitted = true %}
                {%endif%}
            {%endif%}
            <div class="frame frame-pins col-xs-2">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-3"><div data-pin ="7" class="circle {{ pinSeven == 1 ? 'hit' }} {{ flingTwoPinSevenHitted == 1 ? 'second-hit'}}"></div></div>
                        <div class="col-xs-3"><div data-pin ="8" class="circle {{ pinEight == 1 ? 'hit' }} {{ flingTwoPinEightHitted == 1 ? 'second-hit'}}"></div></div>
                        <div class="col-xs-3"><div data-pin ="9" class="circle {{ pinNine == 1 ? 'hit' }} {{ flingTwoPinNineHitted == 1 ? 'second-hit'}}"></div></div>
                        <div class="col-xs-3"><div data-pin ="10" class="circle {{ pinTen == 1 ? 'hit' }} {{ flingTwoPinTenHitted == 1 ? 'second-hit'}}"></div></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-2"><div data-pin ="4" class="circle {{ pinFour == 1 ? 'hit' }} {{ flingTwoPinFourHitted == 1 ? 'second-hit'}}"></div></div>
                        <div class="col-xs-4"><div data-pin ="5" class="circle {{ pinFive == 1 ? 'hit' }} {{ flingTwoPinFiveHitted == 1 ? 'second-hit'}}"></div></div>
                        <div class="col-xs-2"><div data-pin ="6" class="circle {{ pinSix == 1 ? 'hit' }} {{ flingTwoPinSixHitted == 1 ? 'second-hit'}}"></div></div>
                        <div class="col-xs-2"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-3"><div data-pin ="2" class="circle {{ pinTwo == 1 ? 'hit' }} {{ flingTwoPinTwoHitted == 1 ? 'second-hit'}}"></div></div>
                        <div class="col-xs-3"><div data-pin ="3" class="circle {{ pinThree == 1 ? 'hit' }} {{ flingTwoPinThreeHitted == 1 ? 'second-hit'}}"></div></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-12"><div data-pin ="1" class="circle {{ pinOne == 1 ? 'hit' }} {{ flingTwoPinOneHitted == 1 ? 'second-hit'}}"></div></div>
                    </div>
                </div>
            </div>
         {%endfor%}          
        </div>
    </div>
    <div class="score-right score col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="half"><i class="fa fa-calendar" aria-hidden="true"></i> {{ entity.serie.createdAt|date('d/m/Y') }}</div>
            <div class="half"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ entity.createdAt|date("H:i") }}</div>
        </div>
        <div class="row">
            {% for i in 7..9 %}
            <div class="frame frame-nr col-xs-2">{{ i }}</div>
            {%endfor%}
            <div class="frame frame-nr col-xs-4">10</div> 
            <div class="frame frame-nr col-xs-2">Totaal</div>               
        </div>
        <div class="row">
            {% for frame in entity.frames|slice(6,10) %}
                    {% for fling in frame.fling%} 
                        {% if frame.id == 10%}
                            
                            {%if loop.first%}
                            <div class="col-xs-4">
                                <div class="row">
                            {%endif%}

                                {%if fling.isStrike %}
                                    <div data-frame="frame{{ fling.frame.id }}.fling{{ fling.worp }}" class="frame frame-total col-xs-4">X</div>
                                {%else%}
                                    <div data-frame="frame{{ fling.frame.id }}.fling{{ fling.worp }}" class="frame frame-total col-xs-4">{{ fling.score }}</div>
                                {%endif%}
                            
                            {%if loop.last%}
                                </div>
                            </div>
                            {%endif%}
                            
                        {%else%}
                            {%if fling.isStrike %}
                                <div data-frame="frame{{ fling.frame.id }}.fling{{ fling.worp }}" class="frame frame-total strike col-xs-1">X</div>
                                <div data-frame="frame{{ fling.frame.id }}.fling{{ fling.worp }}" class="frame frame-total col-xs-1">X</div>
                            {%else%}
                                <div data-frame="frame{{ fling.frame.id }}.fling{{ fling.worp }}" class="frame frame-total col-xs-1">{{ fling.score }}</div>
                            {%endif%}
                        {%endif%}
                    {%endfor%}
            
            {%endfor%} 
        </div>
        <div class="row">
            {% for frame in entity.frames|slice(6,10) %}
                {% if frame.id == 7%}
                    <div data-frame="frame{{ frame.id }}" class="frame frame-total col-xs-2">{{ frame.total}}</div>
                
                {% elseif frame.id == 8%}
                    <div data-frame="frame{{ frame.id }}" class="frame frame-total col-xs-2">{{ frame.total}}</div>
          
                {% elseif frame.id == 9%}
                    <div data-frame="frame{{ frame.id }}" class="frame frame-total col-xs-2">{{ frame.total}}</div>
    
                {% elseif frame.id == 10%}
                    <div data-frame="frame{{ frame.id }}" class="frame frame-total col-xs-4">{{ frame.total}}</div>
                {%else %}
                    <div data-frame="frame{{ frame.id }}" class="frame frame-total col-xs-2"><strong>{{ frame.total}}</strong></div>
                {%endif%}
            {%endfor%}
          
        </div>
        <div class="row">
        {% for frame in entity.frames|slice(7,9) %}
            <div class="frame frame-pins col-xs-2">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-3"><div data-pin ="7" class="circle {{ pinSeven == 1 ? 'hit' }} {{ flingTwoPinSevenHitted == 1 ? 'second-hit'}}"></div></div>
                        <div class="col-xs-3"><div data-pin ="8" class="circle {{ pinEight == 1 ? 'hit' }} {{ flingTwoPinEightHitted == 1 ? 'second-hit'}}"></div></div>
                        <div class="col-xs-3"><div data-pin ="9" class="circle {{ pinNine == 1 ? 'hit' }} {{ flingTwoPinNineHitted == 1 ? 'second-hit'}}"></div></div>
                        <div class="col-xs-3"><div data-pin ="10" class="circle {{ pinTen == 1 ? 'hit' }} {{ flingTwoPinTenHitted == 1 ? 'second-hit'}}"></div></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-2"><div data-pin ="4" class="circle {{ pinFour == 1 ? 'hit' }} {{ flingTwoPinFourHitted == 1 ? 'second-hit'}}"></div></div>
                        <div class="col-xs-4"><div data-pin ="5" class="circle {{ pinFive == 1 ? 'hit' }} {{ flingTwoPinFiveHitted == 1 ? 'second-hit'}}"></div></div>
                        <div class="col-xs-2"><div data-pin ="6" class="circle {{ pinSix == 1 ? 'hit' }} {{ flingTwoPinSixHitted == 1 ? 'second-hit'}}"></div></div>
                        <div class="col-xs-2"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-3"><div data-pin ="2" class="circle {{ pinTwo == 1 ? 'hit' }} {{ flingTwoPinTwoHitted == 1 ? 'second-hit'}}"></div></div>
                        <div class="col-xs-3"><div data-pin ="3" class="circle {{ pinThree == 1 ? 'hit' }} {{ flingTwoPinThreeHitted == 1 ? 'second-hit'}}"></div></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-12"><div data-pin ="1" class="circle {{ pinOne == 1 ? 'hit' }} {{ flingTwoPinOneHitted == 1 ? 'second-hit'}}"></div></div>
                    </div>
                </div>
            </div>
        {%endfor%}
        </div>           
    </div>
        
        <div class="editable note">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <strong>Notes:</strong>
    {% if entity.note %}
        <p>{{ entity.note}}</p>
    {% else %}
        <p>This game has no notes.</p>
    {% endif %}
        </div>
    
    <div class="editable ball">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <strong>Bowling Ball:</strong>
    {% if entity.ball %}
        <p>{{ entity.ball}}</p>
    {% else %}
        <p>You did not add a Bowling Ball to this game.</p>
    {%endif%}
    </div>
    
    <section class="game-stats">
        <section class="highscores">
        <h1 class="title">Statistics</h1>
        </section>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="row">
                <div class="title-row col-xs-6">Player</div>
                <div class="stats-row col-xs-6">{{ entity.user.firstName }}</div>
            </div>
            <div class="row">
                <div class="title-row col-xs-6">Games</div>
                <div class="stats-row col-xs-6">1</div>
            </div>
            <div class="row">
                <div class="title-row col-xs-6">Strikes</div>
                <div class="stats-row col-xs-6">23 - 67 %</div>
            </div>
            <div class="row">
                <div class="title-row col-xs-6">Spares</div>
                <div class="stats-row col-xs-6">10 - 33 %</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="row">
                <div class="title-row col-xs-6">Splits</div>
                <div class="stats-row col-xs-6">1 - 3 %</div>
            </div>
            <div class="row">
                <div class="title-row col-xs-6">Splits conv.</div>
                <div class="stats-row col-xs-6">0 - 0 %</div>
            </div>
            <div class="row">
                <div class="title-row col-xs-6">Gutter</div>
                <div class="stats-row col-xs-6">0 - 0 %</div>
            </div>
            <div class="row">
                <div class="title-row col-xs-6">Fouls</div>
                <div class="stats-row col-xs-6">0 - 0 %</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="row">
                <div class="title-row col-xs-6">Avg.</div>
                <div class="stats-row col-xs-6">203</div>
            </div>
            <div class="row">
                <div class="title-row col-xs-6">High game</div>
                <div class="stats-row col-xs-6">1 - 203</div>
            </div>
            <div class="row">
                <div class="title-row col-xs-6">Low game</div>
                <div class="stats-row col-xs-6">1 - 203</div>
            </div>
            <div class="row">
                <div class="title-row col-xs-6">Diff</div>
                <div class="stats-row col-xs-6">0</div>
            </div>
        </div>
      </section>
</div>
    </section>

{% endblock %}
