{% set version = {
    'bootstrap': '4.0.0-alpha',
    'jQuery'   : '2.1.4'
} %}<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}NMDAD3 Demo{% endblock %}</title>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('/assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/assets/css/datepicker3.css') }}" rel="stylesheet">
        <link href="{{ asset('/assets/css/styles.css') }}" rel="stylesheet">
         <link href="{{ asset('/assets/css/games.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        {% endblock %}
        <!--Icons-->
        <script src="{{ asset('/assets/js/lumino.glyphs.js') }}" ></script>
        <!--[if lt IE 9]>
        <script src="{{ asset('/assets/js/html5shiv.js') }}"></script>
        <script src="{{ asset('/assets/js/hrespond.min.js') }}"></script>
        <![endif]-->

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
        <script type="text/javascript" src="//kit.glyphs.co/3b969e.js"></script>
 
    </head>
    <body ng-app="BowleeApp">
    {% include 'admin-menu.html.twig' %}
    {% include 'sidebar.html.twig' %}
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            {% block body %}{% endblock %}
        </div>

        <script src="{{ asset('/assets/js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ asset('/assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/assets/js/chart.min.js') }}"></script>
        <script src="{{ asset('/assets/js/chart-data.js') }}"></script>
        <script src="{{ asset('/assets/js/easypiechart.js') }}"></script>
        <script src="{{ asset('/assets/js/easypiechart-data.js') }}"></script>
        <script src="{{ asset('/assets/js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('/assets/js/map.js') }}"></script>
        <script src="{{ asset('/assets/js/app.js') }}"></script>

        {% block javascripts %}

	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
        {% endblock %}
    </body>
</html>
