{% set _route = app.request.attributes.get('_route') %}
    
<nav class="navbar bg-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('homepage') }}">Bowlee</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}

                <li class="nav-item{% if _route == 'gamesfront_index' %} active{% endif %}">
                    <a class="nav-link" href="{{ path('gamesfront_index') }}">My Games</a>
                </li>
                <li class="nav-item{% if _route == 'seriesfront' %} active{% endif %}">
                    <a class="nav-link" href="{{ path('seriesfront') }}">My Series</a>
                </li>
                <li class="nav-item{% if _route == 'bowlingfront' %} active{% endif %}">
                    <a class="nav-link" href="{{ path('bowlingfront') }}">Bowling</a>
                </li>
                <li class="nav-item{% if _route == 'games_new' %} active{% endif %}">
                    <a class="nav-link" href="{{ path('games_new') }}">New Game</a>
                </li>
                {% else %}
                
                <li class="nav-item{% if _route == 'security_login' %} active{% endif %}">
                    <a class="nav-link" href="{{ path('security_login') }}">Login</a>
                </li>
                <li class="nav-item{% if _route == 'usersfront_new' %} active{% endif %}">
                    <a class="nav-link" href="{{ path('usersfront_new') }}">Register</a>
                </li>
                {% endif %}
            </ul>
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
            <ul class="nav navbar-nav navbar-right">
                
                <li class="dropdown user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu user-menu">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin') }}">Dashboard</a>
                            </li>
                            <li role="separator" class="divider"></li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('usersfront_show', { id: app.user.id }) }}">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_logout') }}">Statistics</a>
                        </li>
                         <li role="separator" class="divider"></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_logout') }}">Logout</a>
                        </li>
                    </ul>
                </li>
                                        
            </ul>
            {% endif %}

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>