{% set _route = app.request.attributes.get('_route') %}
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

    <ul class="nav menu">
        <li class="{% if _route == 'admin' %}active{% endif %}">
            <a href="{{ path('admin') }}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a>
        </li>
        <li class="{% if _route == 'bowlingcentra' %}active{% elseif _route == 'bowling_show' %}active{% endif %}">
            <a href="{{ path('bowlingcentra') }}"><svg class="glyph signia factory"><use xlink:href="#signia-factory"></use></svg> Bowlingcentra</a>
        </li>
        <li class="{% if _route == 'users' %}active{% elseif _route == 'users_show' %}active{% endif %}">
            <a href="{{ path('users') }}"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Users</a>
        </li>
        <li class="{% if _route == 'series' %}active{% elseif _route == 'serie_show' %}active{% endif %}">
            <a href="{{ path('series') }}"><svg class="glyph stroked bowling-pins"><use xlink:href="#stroked-bowling-pins"></use></svg> Series</a>
        </li>
        <li class="{% if _route == 'games' %}active{% elseif _route == 'game_show' %}active{% endif %}">
            <a href="{{ path('games') }}"><svg class="glyph stroked bowling-ball-pin"><use xlink:href="#stroked-bowling-ball-pin"></use></svg> Games</a>
        </li>
 </ul>
</div><!--/.sidebar-->