{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Serie:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">All {{ type == 5 ? '' }}
            {{ type == 1 ? 'Open Bowling' }}
            {{ type == 3 ? 'League' }}
            {{ type == 2 ? 'Score training' }}
            {{ type == 4 ? 'Tournaments' }} Series</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                All {{ type == 5 ? '' }}
            {{ type == 1 ? 'Open Bowling' }}
            {{ type == 3 ? 'League' }}
            {{ type == 2 ? 'Score training' }}
            {{ type == 4 ? 'Tournaments' }} Series</h1>
        </div>
    </div><!--/.row-->
    
    <div class="row">
        <a href="{{ path('series', { type: 5}) }}" class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-teal panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph signia factory"><use xlink:href="#signia-factory"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ all | length }}</div>
                        <div class="text-muted">All Series</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('series', { type: 1}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                     <svg class="glyph signia bowling"><use xlink:href="#signia-bowling"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ openBowling | length }}</div>
                        <div class="text-muted">Open Bowling Series</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('series', { type: 2}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
  <svg class="glyph signia bar-chart"><use xlink:href="#signia-bar-chart"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                       <div class="large">{{ scoreTraining | length }}</div>
                        <div class="text-muted">Score Training Series</div>
                    </div>
                </div>
            </div>
        </a>
                        
        <a href="{{ path('series', { type: 3}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                    <svg class="glyph signia branched-square-flow-chart"><use xlink:href="#signia-branched-square-flow-chart"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                       <div class="large">{{ league | length }}</div>
                        <div class="text-muted">League Series</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('series', { type: 4}) }}" class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                  <svg class="glyph stroked trophy"><use xlink:href="#stroked-trophy"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ tournament | length }}</div>
                        <div class="text-muted">Tournament Series</div>
                    </div>
                </div>
            </div>
        </a>
    </div><!--/.row-->
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" id="accordion">
                    <svg class="glyph stroked bowling-pins"><use xlink:href="#stroked-bowling-pins"></use></svg>
                               All {{ type == 5 ? '' }}
            {{ type == 1 ? 'Open Bowling' }}
            {{ type == 3 ? 'League' }}
            {{ type == 2 ? 'Score training' }}
            {{ type == 4 ? 'Tournaments' }} Series ({{ paginator.entityCount }})
                </div>

                    <div class="panel-body">

                        
                        <section class="highscores">
                        {% for serie in series %}
                            <a href="{{ path('serie_show', { id: serie.id })}}" class="serie col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="circle-score big">
                                    {% if serie.games|length > 0 %}
                                        {% set total = 0%}
                                        {% for game in serie.games %}
                                            {%set total = total + game.total %}                                
                                        {% endfor %}
                                            {{ total }}
                                        {%else%}
                                            0
                                    {% endif %}
                                </div>
                                    <h1>{{ serie.name }}</h1>
                                <div class="game-data">
                                    <ul>
                                        <li>by: {{ serie.user.firstName }} {{ serie.user.lastName }}</li>
                                        <li>
                                        {% if serie.games|length > 0 %}
                                            {% for game in serie.games %}
                                                {{ game.total}}
                                            {%if not loop.last%},{%endif%}
                                            {% endfor %}
                                        {%else%}
                                            No games registered
                                        {% endif %}
                                        </li>
                                        <li>{{ serie.bowling.name }},  {{ serie.bowling.city }}</li>
                                        
                                        <li>{{ serie.games|length }} Games <span>- {{ serie.createdAt|date('j M Y H:i') }}</span></li>
                                    </ul>
                                <i class="fa fa-angle-right next" aria-hidden="true"></i>
                                </div>
                            </a>
                            
                        {% endfor %}

                    </section>

                </div>
            </div><!--/.col-->
    <div id="pagination">
        {% if paginator.totalPages > 1 %}
            </ul>
            <ul class="pagination pagination-sm col-sm-12">
                {# `«` arrow  #}
                <li {{ paginator.currentPage == 1 ? 'class="disabled"' }}>
                    <a href="{{ path('seriesfront', { "page": paginator.currentPage-1 < 1 ? 1 : paginator.currentPage-1, "type" :  type } ) }}">«</a>
                </li>

                {# Render each page number #}
                {% for i in 1..paginator.totalPages %}
                    <li {{ paginator.currentPage == i ? 'class="active"' }}>
                        <a href="{{ path('seriesfront', { "page": i, "type" :  type}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {# `»` arrow #}
                <li {{ paginator.currentPage == paginator.totalPages ? 'class="disabled"' }}>
                    <a href="{{ path('seriesfront', { "page": paginator.currentPage +1 <= paginator.totalPages ? paginator.currentPage+1 : paginator.currentPage, "type" :  type}) }}">»</a>
                </li>
            </ul>
        {% endif %}
    </div>
            
            
        </div>
    </div><!--/.row-->
{% endblock %}
