{% extends "::admin.html.twig" %}

{% block title %}AppBundle:Bowling:index{% endblock %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active"><a href="{{ path('series') }}">Series</a></li>
            <li class="active">{{ entity.name }}</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ entity.name }}</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
            
                
            <div class="panel panel-default">
            <div class="panel-heading">
                Created at {{ entity.createdAt|date }} by <a href="{{ url('users_show', { 'id': entity.user.id }) }}">{{ entity.user.username }}</a>
                <a href="{{ url('serie_edit', { 'id': entity.id }) }}" class="pull-right"><i class="fa fa-pencil-square-o"></i> Edit this</a>
            </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post">
                        
                        <!-- Name input-->
                        <div class="form-group">
                            <div class="col-md-6">
                            <p>Name:</p>
                                <div class="well well-sm">
                                {{ entity.name }}
                                 </div>
                            </div>
                        </div>

                        <!-- Adress, City input-->
                        <div class="form-group">
                            <div class="col-md-6">
                            <p>Bowling:</p>
                                <div class="well well-sm">
                                 {{ entity.bowling.name }}
                                 </div>
                            </div>
                            <div class="col-md-6">
                            <p>Type:</p>
                                <div class="well well-sm">
                                 {{ entity.type.name }}
                                 </div>
                            </div>
                        </div>

                        <!-- Postcode, Country input-->
                        <div class="form-group">
                            <div class="col-md-6">
                            <p>User:</p>
                                <div class="well well-sm">
                                 {{ entity.user.firstName }} {{ entity.user.lastName }}
                                 </div>
                            </div>
                            <div class="col-md-6">
                            <p>Pattern:</p>
                                {% if entity.pattern is not empty %}
                                    <div class="well well-sm">
                                    {{ entity.pattern }}
                                {% else %}
                                    <div class="well well-sm alert-danger" style="background:#F1C5C5!important;">
                                    This is empty
                                {% endif%}
                                 </div>
                            </div>
                        </div>

                    </form>
               </div>
            </div>
                                 
            <div class="panel panel-default">
                <div class="panel-heading">
                    Games
                </div>
                <div class="panel-body">
                    
                    {% for game in entity.games %}
                    <div class="col-xs-12 col-md-6 col-lg-4 single-serie">

                        <div class="row">
                            <div class="col-sm-12 col-lg-12 col-md-12">

                                 <section class="pull-left">

                                    <a href="{{ url('game_show', { 'id': game.id }) }}" class="large">
                                        {{ game.total }}
                                    </a>
                                    <div class="medium"><strong>Ball:</strong> {{ game.ball }}</div>

                                    <div class="small"><strong>Notes:</strong> {{ game.note }}</div>
                                    <div class="small"></div>

                                </section>    
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                   
                    
               </div>
                
            </div>


        </div><!--/.col-->

        </div>
    </div><!--/.row-->
{% endblock %}
